Repository roflcoopter/viseron: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

azure-pipelines/azure-pipelines-viseron.yml:

trigger:
  branches:
    include:
      - dev
  tags:
    include:
      - "*"
  paths:
    include:
      - viseron/*
      - rootfs/*
    exclude:
      - requirements.txt
pr: none

pool:
  vmImage: "ubuntu-latest"

resources:
  pipelines:
    - pipeline: viseronFFmpeg
      source: "Viseron FFmpeg"
      trigger:
        branches:
          - dev
    - pipeline: viseronOpenCV
      source: "Viseron OpenCV"
      trigger:
        branches:
          - dev
    - pipeline: viseronWheels
      source: "Viseron Wheels"
      trigger:
        branches:
          - dev
    - pipeline: viseronBase
      source: "Viseron Base"
      trigger:
        branches:
          - dev

stages:
  - stage: Build
    jobs:
      - template: templates/build.yaml
        parameters:
          image: viseron
          release: true

  - stage: "Publish"
    jobs:
      - job: "ReleaseViseron"
        pool:
          vmImage: "ubuntu-latest"
        steps:
          - template: templates/release_version.yaml
            parameters:
              release: true
          - task: Docker@2
            displayName: Login to Docker Hub
            inputs:
              command: login
              containerRegistry: "Docker Hub"
          - script: |
              set -e
              export DOCKER_CLI_EXPERIMENTAL=enabled

              function create_manifest() {
                local release_version=$1

                docker manifest create roflcoopter/viseron:${release_version} \
                  roflcoopter/amd64-viseron:${release_version} \
                  roflcoopter/rpi3-viseron:${release_version} \
                  roflcoopter/aarch64-viseron:${release_version}

                docker manifest annotate roflcoopter/viseron:${release_version} \
                  roflcoopter/amd64-viseron:${release_version} \
                  --os linux --arch amd64

                docker manifest annotate roflcoopter/viseron:${release_version} \
                  roflcoopter/rpi3-viseron:${release_version} \
                  --os linux --arch arm --variant=v7

                docker manifest annotate roflcoopter/viseron:${release_version} \
                  roflcoopter/aarch64-viseron:${release_version} \
                  --os linux --arch arm64 --variant=v8

                docker manifest push --purge roflcoopter/viseron:${release_version}
                docker manifest inspect roflcoopter/viseron:${release_version}
              }

              docker pull roflcoopter/amd64-viseron:$(viseronVersion)
              docker pull roflcoopter/rpi3-viseron:$(viseronVersion)
              docker pull roflcoopter/aarch64-viseron:$(viseronVersion)

              # Create version tag
              create_manifest "$(viseronVersion)"
              if [ $(latestRelease) = true ] ; then
                create_manifest "latest"
              fi
            displayName: "Create multi-arch image"
          - task: Docker@2
            displayName: Logoff Docker Hub
            inputs:
              command: logout
              containerRegistry: "Docker Hub"
              condition: always()

azure-pipelines/azure-pipelines-wheels.yml:

trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - requirements.txt
pr: none

pool:
  vmImage: "ubuntu-latest"

resources:
  pipelines:
    - pipeline: viserontools
      source: "Viseron tools"
      trigger:
        branches:
          - dev

jobs:
  - template: templates/build.yaml
    parameters:
      image: wheels

fix auth check in hls xhrSetup
  frontend/src/components/events/timeline/TimelinePlayer.tsx
  frontend/src/lib/helpers.tsx
Due: none

escape passwords and redact them from the logs
  viseron/components/ffmpeg/camera.py
  viseron/components/ffmpeg/stream.py
  viseron/domains/camera/__init__.py
  viseron/helpers/__init__.py
  viseron/helpers/logs.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add check_interval to storage tiers
  docs/src/pages/components-explorer/components/ffmpeg/config.json
  docs/src/pages/components-explorer/components/gstreamer/config.json
  docs/src/pages/components-explorer/components/storage/config.json
  viseron/components/storage/config.py
  viseron/components/storage/const.py
  viseron/components/storage/tier_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml

update tests to work with check_interval
  tests/components/storage/test__init__.py
  tests/components/storage/test_config.py
  tests/components/storage/test_tier_handler.py
Due: none

allow running nvr without any detector
  viseron/components/nvr/const.py
  viseron/components/nvr/nvr.py
Due: azure-pipelines/azure-pipelines-viseron.yml

upgrade python deps
  .pylintrc
  requirements.txt
  viseron/components/mqtt/__init__.py
  viseron/components/webserver/request_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

fix websocket_command typing
  viseron/components/webserver/websocket_api/commands.py
Due: azure-pipelines/azure-pipelines-viseron.yml

downgrade urllib3
  requirements.txt
Due: azure-pipelines/azure-pipelines-wheels.yml

install python3-gst-1.0 in ci
  .github/workflows/ci.yaml
Due: none

update typings on storage config.py
  viseron/components/storage/config.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix typing
  viseron/components/webserver/websocket_api/__init__.py
  viseron/components/webserver/websocket_api/commands.py
Due: azure-pipelines/azure-pipelines-viseron.yml

make sure ensure_min_max is called
  viseron/domains/object_detector/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix typings
  viseron/components/webserver/websocket_api/commands.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add --no-cache option to azure docker builds
  azure-pipelines/templates/build.yaml
Due: none

revert --no-cache option in docker build
  azure-pipelines/templates/build.yaml
Due: none

downgrade PyGObject and scikit-learn
  requirements.txt
Due: azure-pipelines/azure-pipelines-wheels.yml

add a noCache option for docker builds
  azure-pipelines/azure-pipelines-base.yml
  azure-pipelines/azure-pipelines-ffmpeg.yml
  azure-pipelines/azure-pipelines-models.yml
  azure-pipelines/azure-pipelines-opencv.yml
  azure-pipelines/azure-pipelines-tools.yml
  azure-pipelines/azure-pipelines-viseron.yml
  azure-pipelines/azure-pipelines-wheels.yml
  azure-pipelines/templates/build.yaml
Due: none

remove unneeded import
  frontend/src/pages/Events.tsx
Due: none

pin scipy
  requirements.txt
Due: azure-pipelines/azure-pipelines-wheels.yml

ignore error when moving thumbnail
  viseron/components/storage/tier_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml

correctly set Hls-Client-Id when not using auth
  frontend/src/components/events/timeline/TimelinePlayer.tsx
Due: none

add roboflow sponsorship!
  README.md
Due: none

OpenCV 4.10.0
  azure-pipelines/.env
  docker/amd64-cuda/Dockerfile.base
  docker/amd64-cuda/Dockerfile.darknet
  docker/amd64-cuda/Dockerfile.dlib
  docker/amd64-cuda/Dockerfile.opencv
  docker/amd64/Dockerfile.opencv
Due: none

install supervision
  .dockerignore
  .gitignore
  azure-pipelines/.env
  azure-pipelines/docker-compose-build.yaml
  docker/Dockerfile.wheels
  docker/jetson-nano/Dockerfile.wheels
  docker/opencv-python-headless-setup.py
  requirements.txt
Due: azure-pipelines/azure-pipelines-wheels.yml

run opencv darknet in a subprocess
  viseron/components/darknet/__init__.py
  viseron/components/darknet/darknet_subprocess.py
Due: azure-pipelines/azure-pipelines-viseron.yml

patch opencv 4.10.0 for jetson-nano
  .dockerignore
  .gitignore
  docker/jetson-nano/Dockerfile.opencv.part1
  docker/jetson-nano/opencv-tuple.patch
Due: none

streamline the creation of DetectedObject
  viseron/components/codeprojectai/object_detector.py
  viseron/components/darknet/__init__.py
  viseron/components/deepstack/object_detector.py
  viseron/components/edgetpu/__init__.py
  viseron/components/edgetpu/image_classification.py
  viseron/components/edgetpu/object_detector.py
  viseron/domains/object_detector/__init__.py
  viseron/domains/object_detector/detected_object.py
Due: azure-pipelines/azure-pipelines-viseron.yml

draw object bounding boxes using supervision
  viseron/components/ffmpeg/camera.py
  viseron/components/ffmpeg/recorder.py
  viseron/components/gstreamer/camera.py
  viseron/components/gstreamer/recorder.py
  viseron/components/webserver/stream_handler.py
  viseron/domains/camera/recorder.py
  viseron/helpers/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

save license plate recognition snapshots
  viseron/components/codeprojectai/license_plate_recognition.py
  viseron/components/storage/__init__.py
  viseron/components/storage/const.py
  viseron/domains/camera/__init__.py
  viseron/domains/license_plate_recognition/__init__.py
  viseron/domains/license_plate_recognition/binary_sensor.py
  viseron/domains/license_plate_recognition/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

show license plate recognition events
  frontend/src/components/events/SnapshotEvent.tsx
  frontend/src/components/events/utils.tsx
  frontend/src/components/icons/LicensePlateRecognition.tsx
  frontend/src/lib/types.ts
  viseron/components/webserver/api/v1/events.py
Due: azure-pipelines/azure-pipelines-viseron.yml

save unknown faces by default
  docs/src/pages/components-explorer/components/codeprojectai/config.json
  docs/src/pages/components-explorer/components/compreface/config.json
  docs/src/pages/components-explorer/components/deepstack/config.json
  docs/src/pages/components-explorer/components/dlib/config.json
  viseron/domains/face_recognition/__init__.py
  viseron/domains/face_recognition/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

downgrade PyGObject to 3.42.2 (again)
  docker/jetson-nano/Dockerfile.wheels
  requirements.txt
Due: azure-pipelines/azure-pipelines-wheels.yml

add image
  README.md
Due: none

Update README.md
  README.md
Due: none

calculate correct event amounts for different timezones
  frontend/src/components/events/EventDatePickerDialog.tsx
  frontend/src/components/events/EventTable.tsx
  frontend/src/components/events/EventTableItem.tsx
  frontend/src/components/events/SnapshotEvent.tsx
  frontend/src/components/events/timeline/Item.tsx
  frontend/src/components/events/utils.tsx
  frontend/src/lib/api/events.ts
  frontend/src/lib/types.ts
  tests/components/webserver/api/v1/test_events.py
  viseron/components/webserver/api/v1/events.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add conditional check before drawing object bounding boxes
  viseron/domains/camera/recorder.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix broken tests
  tests/helpers/test__init__.py
  tests/helpers/test_filter.py
Due: none

update created_at and updated_at model definitions for better typing
  viseron/components/storage/models.py
Due: azure-pipelines/azure-pipelines-viseron.yml

allow running object and motion detectors independently at the same time
  viseron/components/nvr/nvr.py
Due: azure-pipelines/azure-pipelines-viseron.yml

insert trigger_type for recordings
  viseron/components/ffmpeg/camera.py
  viseron/components/gstreamer/camera.py
  viseron/components/nvr/nvr.py
  viseron/components/storage/alembic/versions/117d07971f1a_add_triggertypes_enum.py
  viseron/components/storage/models.py
  viseron/components/webserver/api/v1/events.py
  viseron/domains/camera/__init__.py
  viseron/domains/camera/recorder.py
Due: azure-pipelines/azure-pipelines-viseron.yml
