Repository roflcoopter/viseron: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

azure-pipelines/azure-pipelines-viseron.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    jobs:
    - template: templates/build.yaml
      parameters:
        image: viseron
        release: true
  - stage: Publish
    jobs:
    - job: ReleaseViseron
      pool:
        vmImage: ubuntu-latest
      steps:
      - template: templates/release_version.yaml
  ...

azure-pipelines/azure-pipelines-wheels.yml:
  pool:
    vmImage: ubuntu-latest
  jobs:
  - template: templates/build.yaml
    parameters:
      image: wheels

add motion_detector snapshots
  docs/src/pages/components-explorer/components/storage/config.json
  frontend/src/components/events/SnapshotEvent.tsx
  frontend/src/components/events/utils.tsx
  frontend/src/lib/types.ts
  viseron/components/storage/__init__.py
  viseron/components/storage/alembic/versions/19a2457c5924_add_snapshot_path_to_motion_table.py
  viseron/components/storage/config.py
  viseron/components/storage/const.py
  viseron/components/storage/models.py
  viseron/components/webserver/api/v1/events.py
  viseron/domains/camera/__init__.py
  viseron/domains/motion_detector/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add viseron ref to roboflow link
  README.md
Due: none

handle motion events without snapshots
  frontend/src/components/events/utils.tsx
  viseron/components/webserver/api/v1/events.py
Due: azure-pipelines/azure-pipelines-viseron.yml

downgrade jetpack to 32.6.1
  azure-pipelines/.env
Due: none

update EventDatePicker.test.tsx
  frontend/tests/components/events/EventDatePicker.test.tsx
Due: none

fix supervision mypy error
  .mypy.ini
  viseron/helpers/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

update DEFAULT_CONFIG in test_config.py to include new domains
  tests/components/storage/test_config.py
Due: none

mark pylint refactor types as Warnings in VSCode
  .vscode/settings.json
Due: none

remove unnecessary return statement in LicensePlateRecognitionBinarySensor
  viseron/domains/license_plate_recognition/binary_sensor.py
Due: azure-pipelines/azure-pipelines-viseron.yml

ensure correct numpy version for python 3.9
  .dockerignore
  .gitignore
  azure-pipelines/.env
  docker/Dockerfile
  docker/Dockerfile.wheels
  docker/jetson-nano/Dockerfile.wheels
  requirements-3.9.txt
  viseron/components/edgetpu/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Typo
  scripts/gen_docs/const.py
Due: none

add filter menu to events page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/events/EventTable.tsx
  frontend/src/components/events/FilterMenu.tsx
  frontend/src/components/events/Layouts.tsx
  frontend/src/components/events/SnapshotEvent.tsx
  frontend/src/components/events/timeline/TimelineTable.tsx
  frontend/src/components/events/utils.tsx
  frontend/src/components/icons/LicensePlateRecognition.tsx
Due: none

upgrade hls.js
  frontend/package-lock.json
  frontend/package.json
Due: none

avoid calling loadSource twice on first render
  frontend/src/components/events/timeline/TimelinePlayer.tsx
  frontend/src/hooks/UseFirstRender.tsx
Due: none

disable scroll on events page
  frontend/src/pages/Events.tsx
Due: none

impove hls streaming from ffmpeg sources
  viseron/components/ffmpeg/const.py
  viseron/components/ffmpeg/stream.py
  viseron/components/gstreamer/pipeline.py
  viseron/const.py
  viseron/domains/camera/fragmenter.py
Due: azure-pipelines/azure-pipelines-viseron.yml

make events page layout more compact
  frontend/src/components/events/EventPlayerCard.tsx
  frontend/src/components/events/FloatingMenu.tsx
  frontend/src/components/events/Layouts.tsx
  frontend/src/components/events/timeline/TimelinePlayer.tsx
  frontend/src/components/events/utils.tsx
  frontend/src/components/videoplayer/VideoPlayerPlaceholder.tsx
  frontend/src/pages/Events.tsx
Due: none

rm sponsor
  README.md
Due: none

Update NVIDIA link
  docs/docs/documentation/installation.mdx
Due: none

PTZ and Notifier components - work in progress
  .mypy.ini
  docs/src/pages/components-explorer/components/notifier/_meta.tsx
  docs/src/pages/components-explorer/components/notifier/config.json
  docs/src/pages/components-explorer/components/notifier/index.mdx
  docs/src/pages/components-explorer/components/ptz/_meta.tsx
  docs/src/pages/components-explorer/components/ptz/config.json
  docs/src/pages/components-explorer/components/ptz/index.mdx
  requirements.txt
  viseron/components/notifier/__init__.py
  viseron/components/notifier/const.py
  viseron/components/ptz/__init__.py
  viseron/components/ptz/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

- added Lissajous curve patrol, but needs someone with actual math skills to look at it
  viseron/components/ptz/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

- moved documentation, renamed method
  viseron/components/ptz/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

-fixed notifier, removed smtp, video works if recorder configured
  docs/src/pages/components-explorer/components/notifier/config.json
  viseron/components/notifier/__init__.py
  viseron/components/notifier/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

-fixed use config values for send_thumbnail and video
  viseron/components/notifier/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fixed only notify for configured cameras, changed send_thumb and send_vid to notifier wide settings
  docs/src/pages/components-explorer/components/notifier/config.json
  viseron/components/notifier/__init__.py
  viseron/components/notifier/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix variable initialization in ptz, check if file exists in notifier
  viseron/components/notifier/__init__.py
  viseron/components/ptz/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Decoupled PTZ from Telegram. Now a standalone component. Telegram PTZ/Notifier also a separate component.
  docs/src/pages/components-explorer/components/ptz/config.json
  docs/src/pages/components-explorer/components/telegram/_meta.tsx
  docs/src/pages/components-explorer/components/telegram/config.json
  docs/src/pages/components-explorer/components/telegram/index.mdx
  viseron/components/ptz/__init__.py
  viseron/components/ptz/const.py
  viseron/components/storage/__init__.py
  viseron/components/storage/models.py
  viseron/components/telegram/__init__.py
  viseron/components/telegram/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Fix EVENT_RECORDER_COMPLETE bug
  viseron/components/telegram/__init__.py
  viseron/domains/camera/recorder.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Add which command to print current active cam in Telegram Bot
  viseron/components/telegram/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Switch to EVENT_RECORDER_COMPLETE for video, /record command in bot also works now.
  viseron/components/telegram/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

remove unnes log
  viseron/components/telegram/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Fix protected access and asyncio logic
  viseron/components/ptz/__init__.py
  viseron/components/telegram/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Fix dont register shutdown handler if no ptz component
  viseron/components/telegram/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Fix: recorder can already be stopped
  viseron/components/telegram/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Added ability to define, switch between and on startup move to preset ptz coordinates
  docs/src/pages/components-explorer/components/ptz/config.json
  viseron/components/ptz/__init__.py
  viseron/components/ptz/const.py
  viseron/components/telegram/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Added get snapshot command
  viseron/components/telegram/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Added ability to record multiple consecutive videos and return them to Telegram
  viseron/components/telegram/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Notifier now obsolete, removed
  viseron/components/notifier/__init__.py
  viseron/components/notifier/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Notifier now obsolete, removed docs
  docs/src/pages/components-explorer/components/notifier/_meta.tsx
  docs/src/pages/components-explorer/components/notifier/config.json
  docs/src/pages/components-explorer/components/notifier/index.mdx
Due: none

Adds documentation, fixes send_thumnail and message in notifier, disables SenstiveInfo filter now, until I fix it
  docs/src/pages/components-explorer/components/ptz/index.mdx
  docs/src/pages/components-explorer/components/telegram/index.mdx
  viseron/components/ptz/__init__.py
  viseron/components/telegram/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Path conditions:
  azure-pipelines/azure-pipelines-viseron.yml: any of: viseron, rootfs, but not: requirements.txt
  azure-pipelines/azure-pipelines-wheels.yml: any of: requirements.txt
