Repository roflcoopter/viseron: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

azure-pipelines/azure-pipelines-viseron.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    jobs:
    - template: templates/build.yaml
      parameters:
        image: viseron
        release: true
  - stage: Publish
    jobs:
    - job: ReleaseViseron
      pool:
        vmImage: ubuntu-latest
      steps:
      - template: templates/release_version.yaml
  ...

azure-pipelines/azure-pipelines-wheels.yml:
  pool:
    vmImage: ubuntu-latest
  jobs:
  - template: templates/build.yaml
    parameters:
      image: wheels

hide logout when auth is disabled
  frontend/src/components/header/Header.tsx
Due: none

add yolo darknet models to aarch64
  azure-pipelines/.env
  docker/aarch64/Dockerfile.base
Due: none

camera access token for snapshot endpoint
  frontend/src/components/CameraCard.tsx
  frontend/src/lib/api/camera.tsx
  frontend/src/lib/commands.ts
  frontend/src/lib/types.ts
  frontend/src/lib/websockets.ts
  frontend/src/pages/Entities.tsx
  viseron/__init__.py
  viseron/components/webserver/api/handlers.py
  viseron/components/webserver/api/v1/camera.py
  viseron/components/webserver/request_handler.py
  viseron/domains/camera/__init__.py
  viseron/domains/camera/const.py
  viseron/domains/camera/entity/sensor.py
  viseron/states.py
Due: azure-pipelines/azure-pipelines-viseron.yml

use query to get camera instead of context
  frontend/src/App.tsx
  frontend/src/components/CameraCard.tsx
  frontend/src/components/header/Breadcrumbs.tsx
  frontend/src/components/recording/RecordingCardLatest.tsx
  frontend/src/context/ViseronContext.tsx
  frontend/src/hooks/UseOnScreen.tsx
  frontend/src/lib/api/camera.ts
  frontend/src/lib/api/client.ts
  frontend/src/lib/commands.ts
  frontend/src/lib/helpers.tsx
  frontend/src/lib/websockets.ts
  frontend/src/pages/Cameras.tsx
  frontend/src/pages/Entities.tsx
  frontend/src/pages/recordings/CameraRecordings.tsx
  frontend/src/pages/recordings/CameraRecordingsDaily.tsx
  frontend/src/pages/recordings/Recordings.tsx
Due: none

improve resubscribe logic
  frontend/src/components/CameraCard.tsx
  frontend/src/context/ViseronContext.tsx
  frontend/src/lib/api/camera.ts
  frontend/src/lib/commands.ts
  frontend/src/lib/messages.ts
  frontend/src/lib/websockets.ts
  frontend/src/setupProxy.js
  viseron/components/data_stream/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

secure static files and websocket improvements
  frontend/src/pages/recordings/CameraRecordingsDaily.tsx
  viseron/components/webserver/__init__.py
  viseron/components/webserver/api/handlers.py
  viseron/components/webserver/auth.py
  viseron/components/webserver/const.py
  viseron/components/webserver/request_handler.py
  viseron/components/webserver/static_file_handler.py
  viseron/components/webserver/websocket_api/__init__.py
  viseron/components/webserver/websocket_api/commands.py
Due: azure-pipelines/azure-pipelines-viseron.yml

bump wheels version
  azure-pipelines/.env
Due: none

check group permissions for api calls
  viseron/components/webserver/api/handlers.py
  viseron/components/webserver/api/v1/auth.py
  viseron/components/webserver/auth.py
  viseron/components/webserver/const.py
  viseron/components/webserver/request_handler.py
  viseron/components/webserver/static_file_handler.py
  viseron/components/webserver/websocket_api/__init__.py
  viseron/components/webserver/websocket_api/commands.py
  viseron/exceptions.py
Due: azure-pipelines/azure-pipelines-viseron.yml

catch exception when drawing text on mask
  viseron/helpers/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

refresh tokens before connecting to websocket
  frontend/src/lib/tokens.ts
  frontend/src/lib/websockets.ts
Due: none

proxy static files through dev proxy
  frontend/src/lib/helpers.tsx
  frontend/src/setupProxy.js
Due: none

fix calculation of start and end event
  viseron/components/ffmpeg/segments.py
Due: azure-pipelines/azure-pipelines-viseron.yml

set correct parsing element from predefined map
  viseron/components/gstreamer/pipeline.py
Due: azure-pipelines/azure-pipelines-viseron.yml

transcode audio to aac instead of changing to mkv
  tests/common.py
  tests/components/ffmpeg/test_stream.py
  viseron/components/ffmpeg/camera.py
  viseron/components/ffmpeg/stream.py
Due: azure-pipelines/azure-pipelines-viseron.yml

improve session handling
  frontend/src/components/dialog/SessionExpired.tsx
  frontend/src/components/header/Header.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/context/ViseronContext.tsx
  frontend/src/hooks/UseToast.tsx
  frontend/src/index.tsx
  frontend/src/layouts/PrivateLayout.tsx
  frontend/src/lib/api/auth.ts
  frontend/src/lib/events.ts
  frontend/src/lib/tokens.ts
  frontend/src/lib/types.ts
  frontend/src/lib/websockets.ts
  frontend/src/pages/Login.tsx
  frontend/src/pages/Onboarding.tsx
  viseron/components/webserver/api/handlers.py
  viseron/components/webserver/api/v1/auth.py
  viseron/components/webserver/api/v1/onboarding.py
  viseron/components/webserver/auth.py
  viseron/components/webserver/request_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml

authentication for mjpeg streams
  viseron/components/webserver/api/handlers.py
  viseron/components/webserver/auth.py
  viseron/components/webserver/static_file_handler.py
  viseron/components/webserver/stream_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml

improve sensitive log filter
  viseron/components/webserver/websocket_api/__init__.py
  viseron/helpers/logs.py
Due: azure-pipelines/azure-pipelines-viseron.yml

make deletion of recordings more robust
  viseron/domains/camera/recorder.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix some linter issues
  requirements_test.txt
  viseron/components/ffmpeg/stream.py
  viseron/components/gstreamer/stream.py
  viseron/components/webserver/request_handler.py
  viseron/components/webserver/static_file_handler.py
  viseron/components/webserver/websocket_api/commands.py
Due: azure-pipelines/azure-pipelines-viseron.yml

dont sub to camera_access_token with auth disabled
  frontend/src/components/CameraCard.tsx
Due: none

cap inpoint at min 0
  viseron/components/ffmpeg/segments.py
Due: azure-pipelines/azure-pipelines-viseron.yml

update to tj-actions/changed-files@v36
  .github/workflows/ci.yaml
Due: none

upgrade to tj-actions/changed-files@v35
  .github/workflows/ci.yaml
Due: none

rebuild wheels if .env file changes
  .github/workflows/ci.yaml
Due: none

set fetch-depth to 2
  .github/workflows/ci.yaml
Due: none

bcrypt wheel fix and sklearn from pip
  azure-pipelines/.env
  azure-pipelines/docker-compose-build.yaml
  docker/Dockerfile
  docker/Dockerfile.wheels
  docker/jetson-nano/Dockerfile.wheels
  docker/rpi3/Dockerfile.sklearn
  requirements.txt
Due: azure-pipelines/azure-pipelines-wheels.yml

pin numpy==1.23.5
  requirements.txt
Due: azure-pipelines/azure-pipelines-wheels.yml

remove face-recognition from dlib image
  docker/aarch64/Dockerfile.dlib
  docker/amd64-cuda/Dockerfile.dlib
  docker/amd64/Dockerfile.dlib
  docker/jetson-nano/Dockerfile.dlib
  docker/rpi3/Dockerfile.dlib
  requirements.txt
Due: azure-pipelines/azure-pipelines-wheels.yml

ffmpeg 5.1.2
  azure-pipelines/.env
Due: none

disable avresample
  docker/aarch64/Dockerfile.ffmpeg
  docker/amd64-cuda/Dockerfile.ffmpeg
  docker/amd64/Dockerfile.ffmpeg
  docker/jetson-nano/Dockerfile.ffmpeg
  docker/rpi3/Dockerfile.ffmpeg
Due: none

ffmpeg stimeout > timeout for rtsp
  viseron/components/ffmpeg/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add coveragerc
  .coveragerc
  .dockerignore
  .gitignore
  docker/Dockerfile.tests
Due: none

test auth module
  .pylintrc
  tests/components/webserver/__init__.py
  tests/components/webserver/test_auth.py
Due: none

consistently work with Group enum
  viseron/components/webserver/api/handlers.py
  viseron/components/webserver/api/v1/auth.py
  viseron/components/webserver/auth.py
  viseron/components/webserver/request_handler.py
  viseron/components/webserver/websocket_api/commands.py
Due: azure-pipelines/azure-pipelines-viseron.yml

pin dlib==19.22 to fix segfault crash
  azure-pipelines/.env
  requirements.txt
Due: azure-pipelines/azure-pipelines-wheels.yml

improve local test framework
  azure-pipelines/docker-compose-build.yaml
  tox.ini
Due: none

add tests for auth api
  tests/components/webserver/api/__init__.py
  tests/components/webserver/api/v1/__init__.py
  tests/components/webserver/api/v1/test_auth.py
  tests/components/webserver/common.py
  tests/components/webserver/test_auth.py
  tests/conftest.py
  viseron/components/webserver/__init__.py
  viseron/components/webserver/api/__init__.py
  viseron/components/webserver/api/handlers.py
  viseron/components/webserver/api/v1/auth.py
  viseron/components/webserver/auth.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add tests for api handler
  tests/common.py
  tests/components/webserver/api/test_handlers.py
  tests/components/webserver/common.py
  viseron/components/webserver/api/handlers.py
Due: azure-pipelines/azure-pipelines-viseron.yml

redirect to homepage when onboarding completed
  frontend/src/pages/Onboarding.tsx
Due: none

add raw_pipeline option to gstreamer component
  docs/src/pages/components-explorer/components/gstreamer/config.json
  docs/src/pages/components-explorer/components/gstreamer/index.mdx
  viseron/components/gstreamer/camera.py
  viseron/components/gstreamer/const.py
  viseron/components/gstreamer/pipeline.py
  viseron/components/gstreamer/stream.py
  viseron/components/nvr/nvr.py
  viseron/domains/camera/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Path conditions:
  azure-pipelines/azure-pipelines-viseron.yml: any of: viseron, rootfs, but not: requirements.txt
  azure-pipelines/azure-pipelines-wheels.yml: any of: requirements.txt
