Repository roflcoopter/viseron: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

azure-pipelines/azure-pipelines-viseron.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    jobs:
    - template: templates/build.yaml
      parameters:
        image: viseron
        release: true
  - stage: Publish
    jobs:
    - job: ReleaseViseron
      pool:
        vmImage: ubuntu-latest
      steps:
      - template: templates/release_version.yaml
  ...

azure-pipelines/azure-pipelines-wheels.yml:
  pool:
    vmImage: ubuntu-latest
  jobs:
  - template: templates/build.yaml
    parameters:
      image: wheels

renames xyz presets to pan/tilt/zoom and fixes weird way of getting the cam's config in _register
  docs/src/pages/components-explorer/components/ptz/config.json
  viseron/components/ptz/__init__.py
  viseron/components/ptz/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Fixes error logging, adds senstive info filters, renames ptz-prest config names, removes redundent config, uniform formatting, remove create stop
  docs/src/pages/components-explorer/components/ptz/config.json
  viseron/components/ptz/__init__.py
  viseron/components/ptz/const.py
  viseron/components/telegram/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

remove unused (and duplicated) method
  viseron/components/ptz/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Adds /help command, limits user access to commands, adds step size to commands, fixes only configured cams iso all registered cams, log user_ids for easier setup & audit
  docs/src/pages/components-explorer/components/telegram/config.json
  viseron/components/telegram/__init__.py
  viseron/components/telegram/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Renames xyz to ptz, removes henceforth unused ptz_service from some methods, logs onvif errors as warnings
  docs/src/pages/components-explorer/components/ptz/config.json
  viseron/components/ptz/__init__.py
  viseron/components/ptz/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

discard segments if extinf cant be extracted
  tests/domains/camera/test_fragmenter.py
  viseron/domains/camera/fragmenter.py
Due: azure-pipelines/azure-pipelines-viseron.yml

dont remove shared frame it it is the current frame
  viseron/components/nvr/nvr.py
  viseron/domains/camera/__init__.py
  viseron/domains/camera/shared_frames.py
Due: azure-pipelines/azure-pipelines-viseron.yml

use hls_flags program_date_time and transcode segments
  docs/src/pages/components-explorer/components/ffmpeg/config.json
  docs/src/pages/components-explorer/components/ffmpeg/index.mdx
  docs/src/pages/components-explorer/components/gstreamer/config.json
  docs/src/pages/components-explorer/components/gstreamer/index.mdx
  tests/components/ffmpeg/test_stream.py
  tests/domains/camera/test_fragmenter.py
  viseron/components/ffmpeg/const.py
  viseron/components/ffmpeg/stream.py
  viseron/domains/camera/fragmenter.py
Due: azure-pipelines/azure-pipelines-viseron.yml

docker-compose > docker compose
  .github/workflows/ci.yaml
  docs/docs/developers/development_environment/setup.mdx
  docs/docs/developers/docker.mdx
  tox.ini
Due: none

fix pip install typo in Dockerfile
  docker/Dockerfile
Due: none

make sure segments are deleted in all cases
  viseron/domains/camera/fragmenter.py
Due: azure-pipelines/azure-pipelines-viseron.yml

instruct ffmpeg to delete segments to avoid running out of storage
  viseron/components/ffmpeg/stream.py
Due: azure-pipelines/azure-pipelines-viseron.yml

improve performance of m3u8 regexes
  viseron/domains/camera/fragmenter.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add col adjusted_start_time to significantly speed up recordings to move query
  tests/components/storage/test_queries.py
  viseron/components/storage/alembic/versions/31851b6eb50c_add_column_adjusted_start_time_to_.py
  viseron/components/storage/models.py
  viseron/components/storage/queries.py
  viseron/components/storage/tier_handler.py
  viseron/domains/camera/recorder.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add status text and indicator to camera overlay
  frontend/src/components/camera/CameraCard.tsx
  frontend/src/components/camera/CameraNameOverlay.tsx
  frontend/src/context/ViseronContext.tsx
  frontend/src/lib/api/camera.ts
  frontend/src/lib/api/client.ts
  frontend/src/lib/types.ts
  frontend/tests/lib/helpers.test.ts
  frontend/tests/utils/renderWithContext.tsx
Due: none

properly handle async subscription on Entities page
  frontend/src/pages/Entities.tsx
Due: none

remove unneeded useEffect
  frontend/src/components/footer/Footer.tsx
Due: none

allow selection of multiple cameras with a dynamic layout
  frontend/src/components/events/CameraPickerDialog.tsx
  frontend/src/components/events/EventDatePickerDialog.tsx
  frontend/src/components/events/EventPlayerCard.tsx
  frontend/src/components/events/EventTable.tsx
  frontend/src/components/events/EventTableItem.tsx
  frontend/src/components/events/EventsCameraGrid.tsx
  frontend/src/components/events/FloatingMenu.tsx
  frontend/src/components/events/Layouts.tsx
  frontend/src/components/events/SnapshotEvent.tsx
  frontend/src/components/events/timeline/ProgressLine.tsx
  frontend/src/components/events/timeline/TimelinePlayer.tsx
  frontend/src/components/events/timeline/TimelineTable.tsx
  frontend/src/components/events/utils.tsx
  frontend/src/hooks/UseHideScrollbar.tsx
  frontend/src/hooks/UseResizeObserver.tsx
  frontend/src/index.css
  frontend/src/lib/api/events.ts
  frontend/src/lib/api/hls.ts
  frontend/src/lib/types.ts
  frontend/src/pages/Events.tsx
  viseron/components/webserver/api/v1/events.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Update Dockerfile
  docker/Dockerfile
Due: none

Hide scrollbar on configuration page
  frontend/src/pages/Configuration.tsx
Due: none

avoid removal of frames for object and motion detectors
  viseron/domains/motion_detector/__init__.py
  viseron/domains/object_detector/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

always apply default ffmpeg recoverable errors
  docs/src/pages/components-explorer/components/ffmpeg/config.json
  viseron/components/ffmpeg/const.py
  viseron/components/ffmpeg/stream.py
Due: azure-pipelines/azure-pipelines-viseron.yml

update dialog styling
  frontend/src/context/ColorModeContext.tsx
Due: none

enable safe mode if config fails to load
  viseron/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

make sure shared frames removal does not block restart
  viseron/__init__.py
  viseron/domains/camera/__init__.py
  viseron/domains/camera/shared_frames.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add nvr string representation
  viseron/components/nvr/nvr.py
Due: azure-pipelines/azure-pipelines-viseron.yml

limit table width on larger screens
  frontend/src/components/events/Layouts.tsx
Due: none

set event player size from parent using useImperativeHandle
  frontend/src/components/events/EventPlayerCard.tsx
Due: none

improve layout calculation for EventPlayerCard
  frontend/src/components/events/EventPlayerCard.tsx
Due: none

fix recording tests to use adjusted_start_time
  tests/common.py
  tests/domains/camera/test_recorder.py
Due: none

fix codeprojectai object detection when running with no image_size
  tests/common.py
  tests/components/codeprojectai/test_object_detector.py
  tests/conftest.py
  viseron/__init__.py
  viseron/components/codeprojectai/object_detector.py
  viseron/exceptions.py
Due: azure-pipelines/azure-pipelines-viseron.yml

sync all players on events page
  frontend/src/components/events/EventPlayerCard.tsx
  frontend/src/components/events/SyncManager.tsx
  frontend/src/components/events/timeline/ProgressLine.tsx
  frontend/src/components/events/timeline/TimelinePlayer.tsx
  frontend/src/components/events/utils.tsx
  frontend/src/lib/helpers.tsx
Due: none

styling updates
  frontend/src/components/events/EventPlayerCard.tsx
  frontend/src/components/events/EventTableItem.tsx
  frontend/src/components/events/SnapshotEvent.tsx
  frontend/src/components/events/timeline/HoverLine.tsx
  frontend/src/components/events/timeline/Row.tsx
  frontend/src/context/ColorModeContext.tsx
Due: none

dont end HLS playlists on gaps
  tests/components/webserver/api/v1/test_hls.py
  viseron/components/webserver/api/v1/hls.py
  viseron/domains/camera/fragmenter.py
Due: azure-pipelines/azure-pipelines-viseron.yml

make sure timeline does not reload on refetch
  frontend/src/components/events/timeline/TimelineTable.tsx
  frontend/src/lib/api/events.ts
  frontend/src/lib/api/hls.ts
Due: none

react 18 and react-router v5
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/buttons/MutationIconButton.tsx
  frontend/src/components/events/EventTable.tsx
  frontend/src/components/events/timeline/TimelineTable.tsx
  frontend/src/components/recording/RecordingCardLatest.tsx
  frontend/src/components/videoplayer/VideoPlayer.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/context/ColorModeContext.tsx
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/layouts/PrivateLayout.tsx
  frontend/src/lib/api/auth.ts
  frontend/src/lib/api/camera.ts
  frontend/src/lib/api/cameras.ts
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/events.ts
  frontend/src/lib/api/hls.ts
  frontend/src/lib/api/recordings.ts
  frontend/src/pages/Cameras.tsx
  frontend/src/pages/Events.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/Onboarding.tsx
  frontend/src/pages/recordings/CameraRecordings.tsx
  frontend/src/pages/recordings/CameraRecordingsDaily.tsx
  frontend/src/pages/recordings/Recordings.tsx
Due: none

upgrade mui to v6
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/CardActionButton.tsx
  frontend/src/components/TextFieldItem.tsx
  frontend/src/components/camera/CameraCard.tsx
  frontend/src/components/camera/FailedCameraCard.tsx
  frontend/src/components/editor/Editor.tsx
  frontend/src/components/events/EventDatePickerDialog.tsx
  frontend/src/components/events/EventPlayerCard.tsx
  frontend/src/components/events/EventTable.tsx
  frontend/src/components/events/EventTableItem.tsx
  frontend/src/components/events/EventsCameraGrid.tsx
  frontend/src/components/events/Layouts.tsx
  frontend/src/components/events/SnapshotEvent.tsx
  frontend/src/components/events/timeline/TimelineTable.tsx
  frontend/src/components/header/Drawer.tsx
  frontend/src/components/header/Header.tsx
  frontend/src/components/loading/Loading.tsx
  frontend/src/components/recording/RecordingCardLatest.tsx
  frontend/src/hooks/UseOnScreen.tsx
  frontend/src/hooks/UseScrollPosition.tsx
  frontend/src/hooks/UseToast.tsx
  frontend/src/lib/api/onboarding.ts
  frontend/src/lib/events.ts
  frontend/src/pages/Cameras.tsx
  frontend/src/pages/Entities.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/Onboarding.tsx
  frontend/src/pages/recordings/CameraRecordings.tsx
  frontend/src/pages/recordings/CameraRecordingsDaily.tsx
  frontend/src/pages/recordings/Recordings.tsx
Due: none

update available timespans over websocket
  .mypy.ini
  frontend/src/components/events/EventDatePickerDialog.tsx
  frontend/src/components/events/EventTable.tsx
  frontend/src/components/events/timeline/TimelineTable.tsx
  frontend/src/components/videoplayer/VideoPlayer.tsx
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/events.ts
  frontend/src/lib/commands.ts
  frontend/src/lib/messages.ts
  frontend/src/lib/types.ts
  frontend/src/lib/websockets.ts
  requirements.txt
  tests/components/webserver/api/v1/test_events.py
  viseron/components/storage/const.py
  viseron/components/storage/queries.py
  viseron/components/storage/tier_handler.py
  viseron/components/storage/util.py
  viseron/components/webserver/__init__.py
  viseron/components/webserver/api/v1/events.py
  viseron/components/webserver/api/v1/hls.py
  viseron/components/webserver/const.py
  viseron/components/webserver/request_handler.py
  viseron/components/webserver/websocket_api/commands.py
  viseron/components/webserver/websocket_api/messages.py
  viseron/domains/camera/fragmenter.py
Due: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

refactor API to use useInvalidateQueryOnStateChange and useInvalidateQueryOnEvent
  frontend/src/lib/api/camera.ts
  frontend/src/lib/api/cameras.ts
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/recordings.ts
  frontend/src/lib/commands.ts
Due: none

invalidate event queries on event triggers
  frontend/src/components/events/EventTable.tsx
  frontend/src/components/events/EventTableItem.tsx
  frontend/src/components/events/timeline/TimelineTable.tsx
  frontend/src/components/events/utils.tsx
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/events.ts
Due: none

Path conditions:
  azure-pipelines/azure-pipelines-viseron.yml: any of: viseron, rootfs, but not: requirements.txt
  azure-pipelines/azure-pipelines-wheels.yml: any of: requirements.txt
