Repository roflcoopter/viseron: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

azure-pipelines/azure-pipelines-viseron.yml:

trigger:
  branches:
    include:
      - dev
  tags:
    include:
      - "*"
  paths:
    include:
      - viseron/*
      - rootfs/*
    exclude:
      - requirements.txt
pr: none

pool:
  vmImage: "ubuntu-latest"

resources:
  pipelines:
    - pipeline: viseronFFmpeg
      source: "Viseron FFmpeg"
      trigger:
        branches:
          - dev
    - pipeline: viseronOpenCV
      source: "Viseron OpenCV"
      trigger:
        branches:
          - dev
    - pipeline: viseronWheels
      source: "Viseron Wheels"
      trigger:
        branches:
          - dev
    - pipeline: viseronBase
      source: "Viseron Base"
      trigger:
        branches:
          - dev

stages:
  - stage: Build
    jobs:
      - template: templates/build.yaml
        parameters:
          image: viseron
          release: true

  - stage: "Publish"
    jobs:
      - job: "ReleaseViseron"
        pool:
          vmImage: "ubuntu-latest"
        steps:
          - template: templates/release_version.yaml
            parameters:
              release: true
          - task: Docker@2
            displayName: Login to Docker Hub
            inputs:
              command: login
              containerRegistry: "Docker Hub"
          - script: |
              set -e
              export DOCKER_CLI_EXPERIMENTAL=enabled

              function create_manifest() {
                local release_version=$1

                docker manifest create roflcoopter/viseron:${release_version} \
                  roflcoopter/amd64-viseron:${release_version} \
                  roflcoopter/rpi3-viseron:${release_version} \
                  roflcoopter/aarch64-viseron:${release_version}

                docker manifest annotate roflcoopter/viseron:${release_version} \
                  roflcoopter/amd64-viseron:${release_version} \
                  --os linux --arch amd64

                docker manifest annotate roflcoopter/viseron:${release_version} \
                  roflcoopter/rpi3-viseron:${release_version} \
                  --os linux --arch arm --variant=v7

                docker manifest annotate roflcoopter/viseron:${release_version} \
                  roflcoopter/aarch64-viseron:${release_version} \
                  --os linux --arch arm64 --variant=v8

                docker manifest push --purge roflcoopter/viseron:${release_version}
                docker manifest inspect roflcoopter/viseron:${release_version}
              }

              docker pull roflcoopter/amd64-viseron:$(viseronVersion)
              docker pull roflcoopter/rpi3-viseron:$(viseronVersion)
              docker pull roflcoopter/aarch64-viseron:$(viseronVersion)

              # Create version tag
              create_manifest "$(viseronVersion)"
              if [ $(latestRelease) = true ] ; then
                create_manifest "latest"
              fi
            displayName: "Create multi-arch image"
          - task: Docker@2
            displayName: Logoff Docker Hub
            inputs:
              command: logout
              containerRegistry: "Docker Hub"
              condition: always()

azure-pipelines/azure-pipelines-wheels.yml:

trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - requirements.txt
pr: none

pool:
  vmImage: "ubuntu-latest"

resources:
  pipelines:
    - pipeline: viserondlib
      source: "Viseron dlib"
      trigger:
        branches:
          - dev

jobs:
  - template: templates/build.yaml
    parameters:
      image: wheels

add camera connection toggle entity
  viseron/components/ffmpeg/camera.py
  viseron/domains/camera/__init__.py
  viseron/domains/camera/const.py
  viseron/domains/camera/entity/toggle.py
  viseron/helpers/entity/toggle.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add toggle camera entity to ffmpeg
  viseron/components/ffmpeg/camera.py
  viseron/components/nvr/__init__.py
  viseron/domains/camera/const.py
  viseron/domains/camera/entity/toggle.py
  viseron/domains/object_detector/binary_sensor.py
  viseron/helpers/entity/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add toggle mqtt entity
  viseron/components/mqtt/__init__.py
  viseron/components/mqtt/entity/__init__.py
  viseron/components/mqtt/entity/toggle.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add home assistant switch entity for toggles
  viseron/components/mqtt/homeassistant/__init__.py
  viseron/components/mqtt/homeassistant/entity.py
  viseron/components/mqtt/homeassistant/switch.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add object detector fps sensor
  viseron/__init__.py
  viseron/domains/face_recognition/binary_sensor.py
  viseron/domains/object_detector/__init__.py
  viseron/domains/object_detector/sensor.py
  viseron/helpers/entity/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

setup domains after all components
  viseron/__init__.py
  viseron/components/__init__.py
  viseron/components/background_subtractor/__init__.py
  viseron/components/darknet/__init__.py
  viseron/components/deepstack/__init__.py
  viseron/components/dlib/__init__.py
  viseron/components/edgetpu/__init__.py
  viseron/components/ffmpeg/__init__.py
  viseron/components/ffmpeg/const.py
  viseron/components/mog2/__init__.py
  viseron/domains/__init__.py
  viseron/exceptions.py
Due: azure-pipelines/azure-pipelines-viseron.yml

component retry functionality
  viseron/components/__init__.py
  viseron/const.py
  viseron/exceptions.py
Due: azure-pipelines/azure-pipelines-viseron.yml

retry setup on error in make_interpreter
  viseron/components/edgetpu/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

move states to its own file
  viseron/__init__.py
  viseron/components/mqtt/__init__.py
  viseron/states.py
Due: azure-pipelines/azure-pipelines-viseron.yml

utilize entity creation lock in mqt state changes
  viseron/components/mqtt/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

delete dead code
  docker/Dockerfile
  viseron/__init__.py
  viseron/__main__.py
  viseron/camera/__init__.py
  viseron/camera/frame.py
  viseron/camera/frame_decoder.py
  viseron/camera/stream.py
  viseron/cleanup.py
  viseron/components/ffmpeg/recorder.py
  viseron/components/ffmpeg/stream.py
  viseron/components/webserver/stream_handler.py
  viseron/config.py
  viseron/config/__init__.py
  viseron/config/config_camera.py
  viseron/config/config_motion_detection.py
  viseron/config/config_mqtt.py
  viseron/config/config_object_detection.py
  viseron/config/config_post_processors.py
  viseron/config/config_recorder.py
  viseron/const.py
  viseron/detector/__init__.py
  viseron/detector/detected_object.py
  viseron/domains/camera/recorder.py
  viseron/exceptions.py
  viseron/helpers/__init__.py
  viseron/motion/__init__.py
  viseron/mqtt/__init__.py
  viseron/mqtt/binary_sensor.py
  viseron/mqtt/camera.py
  viseron/mqtt/sensor.py
  viseron/mqtt/switch.py
  viseron/nvr.py
  viseron/post_processors/__init__.py
  viseron/post_processors/face_recognition/__init__.py
  viseron/post_processors/face_recognition/defaults.py
  viseron/recorder.py
  viseron/segments.py
  viseron/zones.py
Due: azure-pipelines/azure-pipelines-viseron.yml

EventData > Event
  requirements.txt
  viseron/__init__.py
  viseron/components/mqtt/__init__.py
  viseron/components/mqtt/homeassistant/__init__.py
  viseron/components/nvr/sensor.py
  viseron/domains/camera/entity/binary_sensor.py
  viseron/domains/camera/entity/image.py
  viseron/domains/camera/entity/toggle.py
  viseron/domains/face_recognition/binary_sensor.py
  viseron/domains/motion_detector/binary_sensor.py
  viseron/domains/object_detector/binary_sensor.py
  viseron/domains/post_processor/__init__.py
  viseron/exceptions.py
  viseron/states.py
Due: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

create websocket api
  viseron/__init__.py
  viseron/components/__init__.py
  viseron/components/data_stream/__init__.py
  viseron/components/webserver/__init__.py
  viseron/components/webserver/api/__init__.py
  viseron/components/webserver/api/v1/__init__.py
  viseron/components/webserver/api/v1/cameras.py
  viseron/components/webserver/api/v1/config.py
  viseron/components/webserver/const.py
  viseron/components/webserver/websocket_api/__init__.py
  viseron/components/webserver/websocket_api/commands.py
  viseron/components/webserver/websocket_api/messages.py
Due: azure-pipelines/azure-pipelines-viseron.yml

camera_registered event
  viseron/__init__.py
  viseron/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

get_cameras websocket command
  viseron/components/webserver/__init__.py
  viseron/components/webserver/api/__init__.py
  viseron/components/webserver/api/v1/cameras.py
  viseron/components/webserver/websocket_api/commands.py
  viseron/components/webserver/websocket_api/messages.py
  viseron/domains/camera/__init__.py
  viseron/domains/camera/recorder.py
  viseron/helpers/json.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add protocol config option to ffmpeg
  viseron/components/ffmpeg/camera.py
  viseron/components/ffmpeg/const.py
  viseron/components/ffmpeg/stream.py
Due: azure-pipelines/azure-pipelines-viseron.yml

avoid duplicate recordings in API response
  viseron/domains/camera/__init__.py
  viseron/domains/camera/recorder.py
Due: azure-pipelines/azure-pipelines-viseron.yml

build frontend in docker
  .dockerignore
  docker/Dockerfile
  rootfs/etc/services.d/viseron/run
Due: azure-pipelines/azure-pipelines-viseron.yml

serve react frontend and delete old ui
  viseron/components/webserver/__init__.py
  viseron/components/webserver/assets/static/css/bulma.min.css
  viseron/components/webserver/assets/static/css/simple-datatables.css
  viseron/components/webserver/assets/static/js/simple-datatables.js
  viseron/components/webserver/assets/templates/about.html
  viseron/components/webserver/assets/templates/cameras.html
  viseron/components/webserver/assets/templates/index.html
  viseron/components/webserver/assets/templates/layout.html
  viseron/components/webserver/assets/templates/recordings.html
  viseron/components/webserver/assets/templates/settings.html
  viseron/components/webserver/assets/templates/ws_index.html
  viseron/components/webserver/const.py
  viseron/components/webserver/stream_handler.py
  viseron/components/webserver/ui.py
Due: azure-pipelines/azure-pipelines-viseron.yml

pylint fix
  viseron/domains/camera/recorder.py
Due: azure-pipelines/azure-pipelines-viseron.yml

pylint fix
  .pylintrc
  viseron/components/darknet/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

extract branch name as tag
  azure-pipelines/templates/release_version.yaml
Due: none

Update 50-check-if-rpi to support Rpi 4 8gb
  rootfs/etc/cont-init.d/50-check-if-rpi
Due: azure-pipelines/azure-pipelines-viseron.yml

add some attributes to face recognition sensors
  viseron/components/deepstack/face_recognition.py
  viseron/domains/face_recognition/__init__.py
  viseron/domains/face_recognition/binary_sensor.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix automatic decoder fetching
  viseron/components/ffmpeg/const.py
  viseron/components/ffmpeg/stream.py
  viseron/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

jetson nano ubuntu focal and ffmpeg from apt
  azure-pipelines/.env
  azure-pipelines/docker-compose-build.yaml
  docker/Dockerfile.python
  docker/jetson-nano/Dockerfile.base
  docker/jetson-nano/Dockerfile.dlib
  docker/jetson-nano/Dockerfile.ffmpeg
  docker/jetson-nano/Dockerfile.opencv
  docker/jetson-nano/Dockerfile.python
  docker/jetson-nano/Dockerfile.wheels
  viseron/components/ffmpeg/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

split jetson nano opencv build
  azure-pipelines/azure-pipelines-base.yml
  azure-pipelines/azure-pipelines-dlib.yml
  azure-pipelines/azure-pipelines-ffmpeg.yml
  azure-pipelines/azure-pipelines-models.yml
  azure-pipelines/azure-pipelines-opencv.yml
  azure-pipelines/azure-pipelines-viseron.yml
  azure-pipelines/azure-pipelines-wheels.yml
  azure-pipelines/docker-compose-build.yaml
  azure-pipelines/templates/build.yaml
  docker/jetson-nano/Dockerfile.opencv
  docker/jetson-nano/Dockerfile.opencv.part1
Due: none

move jetson-nano-opencv build to its own job
  azure-pipelines/azure-pipelines-opencv.yml
Due: none

move arch matrix to new template to get unique jobnames
  azure-pipelines/azure-pipelines-base.yml
  azure-pipelines/azure-pipelines-dlib.yml
  azure-pipelines/azure-pipelines-ffmpeg.yml
  azure-pipelines/azure-pipelines-models.yml
  azure-pipelines/azure-pipelines-opencv.yml
  azure-pipelines/azure-pipelines-viseron.yml
  azure-pipelines/azure-pipelines-wheels.yml
  azure-pipelines/templates/build.yaml
  azure-pipelines/templates/multi-arch-build.yaml
Due: none

staged build of opencv
  azure-pipelines/azure-pipelines-base.yml
  azure-pipelines/azure-pipelines-dlib.yml
  azure-pipelines/azure-pipelines-ffmpeg.yml
  azure-pipelines/azure-pipelines-opencv.yml
  azure-pipelines/azure-pipelines-viseron.yml
  azure-pipelines/azure-pipelines-wheels.yml
  azure-pipelines/docker-compose-build.yaml
  azure-pipelines/templates/build.yaml
  azure-pipelines/templates/multi-arch-build.yaml
Due: none

correction to jetson nano dockerfiles
  docker/jetson-nano/Dockerfile.base
  docker/jetson-nano/Dockerfile.opencv
Due: none

add ui config editor
  .dockerignore
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/components/CardActionButton.tsx
  frontend/src/components/buttons/LoadingButton.tsx
  frontend/src/components/editor/Editor.tsx
  frontend/src/components/header/Header.tsx
  frontend/src/context/ColorModeContext.tsx
  frontend/src/context/ViseronContext.tsx
  frontend/src/index.tsx
  frontend/src/lib/messages.ts
  frontend/src/lib/websockets.tsx
  frontend/src/pages/Cameras.tsx
  frontend/src/pages/Configuration.tsx
  frontend/src/viseron-logo.svg
  viseron/components/webserver/__init__.py
  viseron/components/webserver/const.py
  viseron/components/webserver/websocket_api/commands.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix getting codec from config
  viseron/components/ffmpeg/stream.py
Due: azure-pipelines/azure-pipelines-viseron.yml

move ffmpeg path env constant
  viseron/components/ffmpeg/const.py
  viseron/components/ffmpeg/stream.py
  viseron/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

base jetson-nano on ubuntu 18.04 again
  .dockerignore
  .gitignore
  azure-pipelines/.env
  azure-pipelines/docker-compose-build.yaml
  docker/Dockerfile
  docker/ffmpeg_wrapper
  docker/ffprobe_wrapper
  docker/jetson-nano/Dockerfile.base
  docker/jetson-nano/Dockerfile.dlib
  docker/jetson-nano/Dockerfile.opencv.part1
  docker/jetson-nano/Dockerfile.python
  docker/jetson-nano/Dockerfile.wheels
  docker/jetson-nano/patch_ffmpeg.sh
  docker/jetson-nano/pycoral-2.0.0-cp38-cp38-linux_aarch64.whl
  docker/jetson-nano/tflite_runtime-2.5.0.post1-cp38-cp38-linux_aarch64.whl
  rootfs/etc/cont-init.d/70-gstreamer-path
  viseron/components/ffmpeg/camera.py
  viseron/components/gstreamer/stream.py
Due: azure-pipelines/azure-pipelines-viseron.yml

show only one "Connected" toast
  frontend/src/lib/websockets.tsx
Due: none

fix recordings sort order
  frontend/src/lib/types.ts
  frontend/src/pages/Recordings.tsx
  viseron/domains/camera/recorder.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fetch camera snapshots using new API to reduce data usage
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/CameraCard.tsx
  frontend/src/hooks/UseOnScreen.tsx
  viseron/__init__.py
  viseron/components/ffmpeg/camera.py
  viseron/components/webserver/api/__init__.py
  viseron/components/webserver/api/v1/__init__.py
  viseron/components/webserver/api/v1/camera.py
  viseron/domains/camera/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

significantly reduce bundle sice by lazy loading
  frontend/src/components/header/Header.tsx
  frontend/src/components/videoplayer/VideoPlayer.tsx
  frontend/src/context/ColorModeContext.tsx
  frontend/src/pages/Configuration.tsx
Due: none
