Repository roflcoopter/viseron: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

azure-pipelines/azure-pipelines-viseron.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    jobs:
    - template: templates/build.yaml
      parameters:
        image: viseron
        release: true
  - stage: Publish
    jobs:
    - job: ReleaseViseron
      pool:
        vmImage: ubuntu-latest
      steps:
      - template: templates/release_version.yaml
  ...

azure-pipelines/azure-pipelines-wheels.yml:
  pool:
    vmImage: ubuntu-latest
  jobs:
  - template: templates/build.yaml
    parameters:
      image: wheels

pin pylint
  requirements_test.txt
Due: none

make motion detector more general
  tests/config/test__init__.py
  tests/config/test_config_camera.py
  tests/config/test_config_motion_detection.py
  viseron/config/__init__.py
  viseron/config/config_camera.py
  viseron/config/config_motion_detection.py
  viseron/config/config_object_detection.py
  viseron/exceptions.py
  viseron/motion.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix remaining pylint errors
  viseron/camera/stream.py
  viseron/config/__init__.py
  viseron/detector/darknet/__init__.py
  viseron/detector/edgetpu/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add mog2 motion detector
  .gitignore
  tests/config/test__init__.py
  tests/config/test_config_camera.py
  viseron/config/__init__.py
  viseron/config/config_camera.py
  viseron/motion/__init__.py
  viseron/motion/background_subtractor/__init__.py
  viseron/motion/background_subtractor/config.py
  viseron/motion/background_subtractor/const.py
  viseron/motion/mog2/__init__.py
  viseron/motion/mog2/config.py
  viseron/motion/mog2/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

update motion detection documentation
  README.md
Due: none

add tests for motion
  .gitignore
  tests/motion/__init__.py
  tests/motion/config_embedded/__init__.py
  tests/motion/config_module_does_not_inherit/__init__.py
  tests/motion/config_module_does_not_inherit/config.py
  tests/motion/config_module_missing/__init__.py
  tests/motion/config_module_schema_missing/__init__.py
  tests/motion/config_separate/__init__.py
  tests/motion/config_separate/config.py
  tests/motion/does_not_have_motion_class/__init__.py
  tests/motion/does_not_inherit/__init__.py
Due: none

upgrade to cuda 11.4.1
  azure-pipelines/.env
  azure-pipelines/docker-compose-build.yaml
  docker/amd64-cuda/Dockerfile.base
  docker/amd64-cuda/Dockerfile.dlib
  docker/amd64-cuda/Dockerfile.ffmpeg
  docker/amd64-cuda/Dockerfile.opencv
Due: none

implement basic API boilerplate
  .gitignore
  viseron/config/__init__.py
  viseron/recorder.py
  viseron/webserver/__init__.py
  viseron/webserver/api/__init__.py
  viseron/webserver/api/v1/__init__.py
  viseron/webserver/api/v1/config.py
  viseron/webserver/const.py
  viseron/webserver/exceptions.py
  viseron/webserver/not_found_handler.py
  viseron/webserver/ui.py
Due: azure-pipelines/azure-pipelines-viseron.yml

set camera status on disconnect
  tests/conftest.py
  tests/test_nvr.py
  viseron/camera/__init__.py
  viseron/camera/stream.py
  viseron/nvr.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix detections being duplicated to all cameras when using cuda darknet
  .pylintrc
  tests/conftest.py
  tests/test_nvr.py
  viseron/camera/stream.py
  viseron/detector/__init__.py
  viseron/detector/darknet/__init__.py
  viseron/nvr.py
  viseron/recorder.py
  viseron/segments.py
  viseron/watchdog/subprocess_watchdog.py
Due: azure-pipelines/azure-pipelines-viseron.yml

new config option max_frame_age
  .gitignore
  README.md
  tests/config/test_config_object_detection.py
  tests/detector/__init__.py
  tests/detector/config_embedded/__init__.py
  tests/detector/config_module_does_not_inherit/__init__.py
  tests/detector/config_module_does_not_inherit/config.py
  tests/detector/config_module_missing/__init__.py
  tests/detector/config_module_schema_missing/__init__.py
  tests/detector/config_separate/__init__.py
  tests/detector/config_separate/config.py
  tests/detector/does_not_have_motion_class/__init__.py
  tests/detector/does_not_inherit/__init__.py
  tests/detector/test__init__.py
  tests/motion/__init__.py
  viseron/camera/frame_decoder.py
  viseron/config/config_camera.py
  viseron/config/config_object_detection.py
  viseron/detector/__init__.py
  viseron/exceptions.py
Due: azure-pipelines/azure-pipelines-viseron.yml

OpenCV 4.5.3
  azure-pipelines/.env
  docker/aarch64/Dockerfile.opencv
  docker/amd64-cuda/Dockerfile.opencv
  docker/amd64/Dockerfile.opencv
  docker/jetson-nano/Dockerfile.opencv
  docker/rpi3/Dockerfile.opencv
Due: none

simplified access to camera properties
  viseron/webserver/assets/templates/cameras.html
  viseron/webserver/ui.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix typo in opencv build command
  docker/aarch64/Dockerfile.opencv
  docker/amd64/Dockerfile.opencv
  docker/rpi3/Dockerfile.opencv
Due: none

try to speed up OpenCV build time
  azure-pipelines/docker-compose-build.yaml
  docker/aarch64/Dockerfile.opencv
  docker/amd64-cuda/Dockerfile.opencv
  docker/amd64/Dockerfile.opencv
  docker/jetson-nano/Dockerfile.opencv
  docker/rpi3/Dockerfile.opencv
Due: none

add dummy setup.py file to make tox happy
  .gitignore
  setup.py
Due: none

properly override config for motion detection
  tests/config/test__init__.py
  viseron/config/__init__.py
  viseron/config/config_camera.py
Due: azure-pipelines/azure-pipelines-viseron.yml

remove interval and replace with fps
  README.md
  tests/config/test__init__.py
  tests/config/test_config_object_detection.py
  tests/conftest.py
  tests/test_nvr.py
  viseron/camera/__init__.py
  viseron/camera/frame_decoder.py
  viseron/camera/stream.py
  viseron/config/config_camera.py
  viseron/config/config_motion_detection.py
  viseron/config/config_object_detection.py
  viseron/motion/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

remove logging and add logger component
  .gitignore
  README.md
  tests/config/test__init__.py
  tests/config/test_config_object_detection.py
  tests/config/test_config_post_processors.py
  tests/config/test_config_recorder.py
  tests/conftest.py
  tests/test_main.py
  viseron/__init__.py
  viseron/__main__.py
  viseron/camera/__init__.py
  viseron/components/__init__.py
  viseron/components/logger/__init__.py
  viseron/components/logger/const.py
  viseron/config/__init__.py
  viseron/config/config_camera.py
  viseron/config/config_logging.py
  viseron/config/config_motion_detection.py
  viseron/config/config_mqtt.py
  viseron/config/config_object_detection.py
  viseron/config/config_post_processors.py
  viseron/config/config_recorder.py
  viseron/const.py
  viseron/detector/__init__.py
  viseron/helpers/logs.py
  viseron/motion/__init__.py
  viseron/mqtt/__init__.py
  viseron/nvr.py
  viseron/post_processors/__init__.py
  viseron/post_processors/face_recognition/__init__.py
  viseron/recorder.py
  viseron/zones.py
Due: azure-pipelines/azure-pipelines-viseron.yml

move data_stream to components
  viseron/__init__.py
  viseron/camera/__init__.py
  viseron/camera/frame_decoder.py
  viseron/components/__init__.py
  viseron/components/data_stream/__init__.py
  viseron/detector/__init__.py
  viseron/motion/__init__.py
  viseron/nvr.py
  viseron/post_processors/__init__.py
  viseron/webserver/stream_handler.py
  viseron/zones.py
Due: azure-pipelines/azure-pipelines-viseron.yml

update tests for components
  .gitignore
  tests/components/__init__.py
  tests/components/test__init__.py
  tests/conftest.py
  tests/test_nvr.py
  viseron/__init__.py
  viseron/components/__init__.py
  viseron/components/data_stream/__init__.py
  viseron/components/logger/__init__.py
  viseron/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

shutdown properly and warn on living threads
  docker/Dockerfile
  rootfs/etc/services.d/viseron/run
  viseron/__init__.py
  viseron/components/data_stream/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

move webserver to components
  README.md
  viseron/__init__.py
  viseron/components/webserver/__init__.py
  viseron/components/webserver/api/__init__.py
  viseron/components/webserver/api/v1/__init__.py
  viseron/components/webserver/api/v1/config.py
  viseron/components/webserver/assets/static/css/bulma.min.css
  viseron/components/webserver/assets/static/css/simple-datatables.css
  viseron/components/webserver/assets/static/js/simple-datatables.js
  viseron/components/webserver/assets/templates/about.html
  viseron/components/webserver/assets/templates/cameras.html
  viseron/components/webserver/assets/templates/index.html
  viseron/components/webserver/assets/templates/layout.html
  viseron/components/webserver/assets/templates/recordings.html
  viseron/components/webserver/assets/templates/settings.html
  viseron/components/webserver/assets/templates/ws_index.html
  viseron/components/webserver/const.py
  viseron/components/webserver/exceptions.py
  viseron/components/webserver/not_found_handler.py
  viseron/components/webserver/stream_handler.py
  viseron/components/webserver/ui.py
  viseron/const.py
  viseron/webserver/api/v1/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

join threads in parallell on shutdown
  viseron/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

move camera to components as ffmpeg
  .gitignore
  viseron/__init__.py
  viseron/components/__init__.py
  viseron/components/ffmpeg/__init__.py
  viseron/components/ffmpeg/camera.py
  viseron/components/ffmpeg/const.py
  viseron/components/ffmpeg/recorder.py
  viseron/components/ffmpeg/segments.py
  viseron/components/ffmpeg/stream.py
  viseron/config/__init__.py
  viseron/config/config_camera.py
  viseron/domains/__init__.py
  viseron/domains/camera/__init__.py
  viseron/helpers/validators.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add event listener/dispatch helpers
  viseron/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add domain loader to components
  viseron/components/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

allow subscriptions without data
  viseron/components/data_stream/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

move recorder to ffmpeg component
  viseron/components/ffmpeg/__init__.py
  viseron/components/ffmpeg/camera.py
  viseron/components/ffmpeg/const.py
  viseron/components/ffmpeg/recorder.py
  viseron/components/ffmpeg/stream.py
Due: azure-pipelines/azure-pipelines-viseron.yml

create nvr component
  viseron/components/nvr/__init__.py
  viseron/components/nvr/const.py
  viseron/components/nvr/zone.py
  viseron/domains/__init__.py
  viseron/domains/camera/__init__.py
  viseron/helpers/__init__.py
  viseron/helpers/filter.py
Due: azure-pipelines/azure-pipelines-viseron.yml

cleanup shared frames properly
  viseron/__init__.py
  viseron/components/ffmpeg/camera.py
  viseron/components/ffmpeg/stream.py
  viseron/components/nvr/__init__.py
  viseron/components/nvr/const.py
  viseron/components/webserver/__init__.py
  viseron/const.py
  viseron/domains/camera/__init__.py
  viseron/helpers/mprt_monkeypatch.py
Due: azure-pipelines/azure-pipelines-viseron.yml

run object detector in separate process
  requirements.txt
  viseron/detector/__init__.py
  viseron/domains/object_detector/__init__.py
  viseron/domains/object_detector/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

create edgetpu component
  viseron/components/edgetpu/__init__.py
  viseron/components/edgetpu/const.py
  viseron/components/edgetpu/object_detector.py
  viseron/detector/edgetpu/__init__.py
  viseron/detector/edgetpu/defaults.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix import
  viseron/__init__.py
  viseron/domains/object_detector/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

filter detected objects
  viseron/components/edgetpu/object_detector.py
  viseron/components/ffmpeg/__init__.py
  viseron/components/ffmpeg/stream.py
  viseron/components/nvr/__init__.py
  viseron/components/nvr/zone.py
  viseron/domains/object_detector/__init__.py
  viseron/domains/object_detector/detected_object.py
  viseron/helpers/__init__.py
  viseron/helpers/filter.py
Due: azure-pipelines/azure-pipelines-viseron.yml

generate mask for object filter
  viseron/helpers/__init__.py
  viseron/helpers/filter.py
Due: azure-pipelines/azure-pipelines-viseron.yml

filter zones
  viseron/components/nvr/__init__.py
  viseron/components/nvr/zone.py
Due: azure-pipelines/azure-pipelines-viseron.yml

create one object detector per camera
  viseron/__init__.py
  viseron/components/__init__.py
  viseron/components/edgetpu/__init__.py
  viseron/components/edgetpu/const.py
  viseron/components/edgetpu/object_detector.py
  viseron/components/nvr/__init__.py
  viseron/components/nvr/const.py
  viseron/domains/object_detector/__init__.py
  viseron/domains/object_detector/const.py
  viseron/helpers/filter.py
  viseron/helpers/schemas.py
Due: azure-pipelines/azure-pipelines-viseron.yml

filter objects in object detector
  viseron/components/edgetpu/__init__.py
  viseron/components/edgetpu/const.py
  viseron/components/edgetpu/object_detector.py
  viseron/components/nvr/__init__.py
  viseron/domains/object_detector/__init__.py
  viseron/domains/object_detector/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

setup components in parallel
  viseron/__init__.py
  viseron/components/__init__.py
  viseron/components/edgetpu/object_detector.py
  viseron/components/ffmpeg/camera.py
  viseron/components/ffmpeg/recorder.py
  viseron/components/ffmpeg/stream.py
  viseron/components/nvr/__init__.py
  viseron/const.py
  viseron/domains/camera/__init__.py
  viseron/domains/object_detector/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Path conditions:
  azure-pipelines/azure-pipelines-viseron.yml: any of: viseron, rootfs, but not: requirements.txt
  azure-pipelines/azure-pipelines-wheels.yml: any of: requirements.txt
