Repository roflcoopter/viseron: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

azure-pipelines/azure-pipelines-viseron.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    jobs:
    - template: templates/build.yaml
      parameters:
        image: viseron
        release: true
  - stage: Publish
    jobs:
    - job: ReleaseViseron
      pool:
        vmImage: ubuntu-latest
      steps:
      - template: templates/release_version.yaml
  ...

azure-pipelines/azure-pipelines-wheels.yml:
  pool:
    vmImage: ubuntu-latest
  jobs:
  - template: templates/build.yaml
    parameters:
      image: wheels

ffmpeg_loglevel option for recorder
  docs/src/pages/components-explorer/components/ffmpeg/config.json
  docs/src/pages/components-explorer/components/gstreamer/config.json
  viseron/components/ffmpeg/camera.py
  viseron/components/ffmpeg/const.py
  viseron/components/ffmpeg/segments.py
  viseron/components/gstreamer/camera.py
Due: azure-pipelines/azure-pipelines-viseron.yml

change generation of segment script
  tests/components/ffmpeg/test_segments.py
  tests/components/gstreamer/test_segments.py
  viseron/components/ffmpeg/segments.py
Due: azure-pipelines/azure-pipelines-viseron.yml

raise DomainNotReady on FFProbe error/timeout
  tests/components/ffmpeg/test_stream.py
  viseron/components/ffmpeg/camera.py
  viseron/components/ffmpeg/stream.py
  viseron/components/gstreamer/camera.py
  viseron/components/gstreamer/pipeline.py
  viseron/components/gstreamer/stream.py
  viseron/exceptions.py
Due: azure-pipelines/azure-pipelines-viseron.yml

expose failed cameras and their recordings via API
  viseron/__init__.py
  viseron/components/__init__.py
  viseron/components/webserver/__init__.py
  viseron/components/webserver/api/v1/camera.py
  viseron/components/webserver/api/v1/cameras.py
  viseron/components/webserver/api/v1/recordings.py
  viseron/components/webserver/request_handler.py
  viseron/components/webserver/static_file_handler.py
  viseron/const.py
  viseron/domains/__init__.py
  viseron/domains/camera/__init__.py
  viseron/domains/camera/recorder.py
  viseron/domains/object_detector/__init__.py
  viseron/helpers/validators.py
Due: azure-pipelines/azure-pipelines-viseron.yml

tests for domain_setup_status
  tests/components/test__init__.py
  tests/conftest.py
Due: none

show failed cameras in the frontend
  frontend/src/components/camera/CameraCard.tsx
  frontend/src/components/camera/FailedCameraCard.tsx
  frontend/src/components/header/Breadcrumbs.tsx
  frontend/src/components/recording/RecordingCard.tsx
  frontend/src/components/recording/RecordingCardDaily.tsx
  frontend/src/components/recording/RecordingCardLatest.tsx
  frontend/src/components/videoplayer/VideoPlayerPlaceholder.tsx
  frontend/src/context/ViseronContext.tsx
  frontend/src/hooks/UseToast.tsx
  frontend/src/layouts/PrivateLayout.tsx
  frontend/src/lib/api/camera.ts
  frontend/src/lib/api/cameras.ts
  frontend/src/lib/api/client.ts
  frontend/src/lib/commands.ts
  frontend/src/lib/helpers.tsx
  frontend/src/lib/types.ts
  frontend/src/pages/Cameras.tsx
  frontend/src/pages/recordings/CameraRecordings.tsx
  frontend/src/pages/recordings/CameraRecordingsDaily.tsx
  frontend/src/pages/recordings/Recordings.tsx
Due: none

add empty nvr domain
  viseron/domains/nvr/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add error component
  frontend/src/components/error/Error.tsx
Due: none

reduce bundle size by about 50%
  frontend/src/App.tsx
  frontend/src/components/CardActionButton.tsx
  frontend/src/components/editor/Editor.tsx
  frontend/src/components/error/Error.tsx
  frontend/src/components/footer/Footer.tsx
  frontend/src/components/header/Drawer.tsx
  frontend/src/components/loading/Loading.tsx
  frontend/src/hooks/UseToast.tsx
  frontend/src/index.tsx
  frontend/src/lib/helpers.tsx
Due: none

fix subscribing to all entities
  frontend/src/lib/messages.ts
  viseron/components/webserver/websocket_api/commands.py
Due: azure-pipelines/azure-pipelines-viseron.yml

clear cookies on failed token refresh
  viseron/components/webserver/api/v1/auth.py
Due: azure-pipelines/azure-pipelines-viseron.yml

sort list of cameras
  frontend/src/pages/Cameras.tsx
  frontend/src/pages/recordings/Recordings.tsx
Due: none

properly navigate to login/onboarding
  frontend/src/context/ViseronContext.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/Onboarding.tsx
Due: none

preload libgomp
  docker/jetson-nano/Dockerfile.base
Due: none

autotyping --scalar-return
  viseron/components/__init__.py
  viseron/components/background_subtractor/__init__.py
  viseron/components/background_subtractor/motion_detector.py
  viseron/components/compreface/__init__.py
  viseron/components/compreface/face_recognition.py
  viseron/components/darknet/__init__.py
  viseron/components/darknet/object_detector.py
  viseron/components/data_stream/__init__.py
  viseron/components/deepstack/__init__.py
  viseron/components/deepstack/face_recognition.py
  viseron/components/deepstack/object_detector.py
  viseron/components/dlib/__init__.py
  viseron/components/dlib/face_recognition.py
  viseron/components/edgetpu/__init__.py
  viseron/components/edgetpu/image_classification.py
  viseron/components/edgetpu/object_detector.py
  viseron/components/ffmpeg/__init__.py
  viseron/components/ffmpeg/camera.py
  viseron/components/ffmpeg/stream.py
  viseron/components/gstreamer/__init__.py
  viseron/components/gstreamer/camera.py
  viseron/components/gstreamer/stream.py
  viseron/components/logger/__init__.py
  viseron/components/mog2/__init__.py
  viseron/components/mog2/motion_detector.py
  viseron/components/mqtt/__init__.py
  viseron/components/mqtt/entity/__init__.py
  viseron/components/mqtt/entity/image.py
  viseron/components/mqtt/entity/toggle.py
  viseron/components/mqtt/homeassistant/entity.py
  viseron/components/nvr/__init__.py
  viseron/components/nvr/nvr.py
  viseron/components/webserver/__init__.py
  viseron/components/webserver/api/handlers.py
  viseron/config.py
  viseron/domains/camera/recorder.py
  viseron/helpers/child_process_worker.py
  viseron/helpers/logs.py
  viseron/helpers/validators.py
  viseron/states.py
Due: azure-pipelines/azure-pipelines-viseron.yml

autotyping --safe
  viseron/components/__init__.py
  viseron/components/darknet/__init__.py
  viseron/components/edgetpu/__init__.py
  viseron/components/ffmpeg/recorder.py
  viseron/components/ffmpeg/stream.py
  viseron/components/gstreamer/stream.py
  viseron/components/webserver/__init__.py
  viseron/components/webserver/not_found_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml

create devcontainer for python development
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  .dockerignore
  .gitignore
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  docker/Dockerfile.dev
  viseron/config.py
Due: azure-pipelines/azure-pipelines-viseron.yml

migrate from cra to vite
  .devcontainer/devcontainer.json
  .gitignore
  docker/Dockerfile
  docker/Dockerfile.dev
  frontend/.eslintrc.js
  frontend/404.html
  frontend/index.html
  frontend/lint-staged.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/404.tsx
  frontend/src/App.tsx
  frontend/src/components/editor/Editor.tsx
  frontend/src/components/editor/Markers.tsx
  frontend/src/components/editor/yaml.worker.js
  frontend/src/components/error/Error.tsx
  frontend/src/components/recording/RecordingCard.tsx
  frontend/src/components/videoplayer/VideoPlayer.tsx
  frontend/src/index.tsx
  frontend/src/layouts/PrivateLayout.tsx
  frontend/src/lib/helpers.tsx
  frontend/src/pages/Configuration.tsx
  frontend/src/pages/NotFound.tsx
  frontend/src/react-app-env.d.ts
  frontend/src/reportWebVitals.ts
  frontend/src/setupProxy.js
  frontend/src/vite-env.d.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
  viseron/components/webserver/__init__.py
  viseron/components/webserver/const.py
  viseron/components/webserver/not_found_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml

move toast container to separate component
  frontend/src/components/toast/ToastContainer.tsx
  frontend/src/index.tsx
Due: none

add frontend ci
  .github/workflows/ci-frontend.yaml
  .github/workflows/ci.yaml
Due: none

add vitest and some basic frontend tests
  .github/workflows/ci-frontend.yaml
  .gitignore
  .vscode/launch.json
  .vscode/tasks.json
  docker/Dockerfile.dev
  frontend/.eslintrc.js
  frontend/lint-staged.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/loading/Loading.tsx
  frontend/src/setupTests.ts
  frontend/tests/components/header/Header.test.tsx
  frontend/tests/components/loading/Loading.test.tsx
  frontend/tests/lib/tokens.test.ts
  frontend/tests/setupTests.ts
  frontend/tests/utils/renderWithContext.tsx
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: none

fix override codec in config
  viseron/components/ffmpeg/stream.py
  viseron/components/gstreamer/stream.py
  viseron/exceptions.py
Due: azure-pipelines/azure-pipelines-viseron.yml

use patched material-ui-image
  .github/workflows/ci-frontend.yaml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/camera/CameraCard.tsx
  frontend/src/components/videoplayer/VideoPlayerPlaceholder.tsx
Due: none

check docs in pre-commit and ci
  .devcontainer/devcontainer.json
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  docs/.eslintrc.js
  docs/.prettierignore
  docs/package-lock.json
  docs/package.json
  docs/src/pages/components-explorer/_components/ComponentCard/index.tsx
  docs/src/pages/components-explorer/_components/ComponentsTagSelect/index.tsx
  docs/src/pages/components-explorer/_importer.tsx
  docs/src/pages/components-explorer/components/background_subtractor/config.json
  docs/src/pages/components-explorer/components/compreface/config.json
  docs/src/pages/components-explorer/components/darknet/config.json
  docs/src/pages/components-explorer/components/deepstack/config.json
  docs/src/pages/components-explorer/components/dlib/config.json
  docs/src/pages/components-explorer/components/edgetpu/config.json
  docs/src/pages/components-explorer/components/ffmpeg/config.json
  docs/src/pages/components-explorer/components/gstreamer/config.json
  docs/src/pages/components-explorer/components/logger/config.json
  docs/src/pages/components-explorer/components/mog2/config.json
  docs/src/pages/components-explorer/components/mqtt/config.json
  docs/src/pages/components-explorer/components/nvr/config.json
  docs/src/pages/components-explorer/components/webserver/config.json
  docs/tsconfig.json
  scripts/gen_docs/__main__.py
  scripts/gen_docs/const.py
  viseron/components/webserver/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add docs tasks
  .vscode/tasks.json
  docs/package.json
Due: none

refactor ffmpeg stream information
  tests/components/ffmpeg/test_stream.py
  viseron/components/ffmpeg/stream.py
  viseron/components/gstreamer/pipeline.py
  viseron/components/gstreamer/stream.py
Due: azure-pipelines/azure-pipelines-viseron.yml

consistent CameraCard height
  frontend/src/components/camera/CameraCard.tsx
Due: none

add gitlens to devcontainer
  .devcontainer/devcontainer.json
Due: none

install opencv from pip in ci
  .github/workflows/ci.yaml
  .gitignore
  requirements_ci.txt
Due: none

install pycoral in ci
  .github/workflows/ci.yaml
  requirements_ci.txt
Due: none

install libedgetpu1 in ci
  .github/workflows/ci.yaml
Due: none

add initial developer documentation
  .devcontainer/devcontainer.json
  docker/Dockerfile.dev
  docs/docs/contributing.mdx
  docs/docs/developers.mdx
  docs/docs/developers/backend.mdx
  docs/docs/developers/backend/components.mdx
  docs/docs/developers/backend/create_component.mdx
  docs/docs/developers/backend/data_stream_component.mdx
  docs/docs/developers/backend/domains.mdx
  docs/docs/developers/backend/entities.mdx
  docs/docs/developers/backend/events.mdx
  docs/docs/developers/backend/vis_object.mdx
  docs/docs/developers/development_environment/pull_request.mdx
  docs/docs/developers/development_environment/setup.mdx
  docs/docs/developers/development_environment/style_guidelines.mdx
  docs/docs/developers/docker.mdx
  docs/docs/developers/docs.mdx
  docs/docs/developers/frontend.mdx
  docs/docs/documentation.md
  docs/docs/documentation/configuration.md
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
  docs/sidebars.js
  frontend/src/components/header/Drawer.tsx
Due: none

add frontend proxy docs
  docs/docs/developers/frontend/proxy.mdx
  docs/sidebars.js
  frontend/vite.config.ts
Due: none

add codeprojectai component
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  .mypy.ini
  docs/src/pages/components-explorer/components/codeprojectai/_meta.tsx
  docs/src/pages/components-explorer/components/codeprojectai/config.json
  docs/src/pages/components-explorer/components/codeprojectai/index.mdx
  requirements.txt
  viseron/components/codeprojectai/__init__.py
  viseron/components/codeprojectai/const.py
  viseron/components/codeprojectai/face_recognition.py
  viseron/components/codeprojectai/object_detector.py
Due: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

add license_plate_recognition domain
  docs/docs/documentation.md
  docs/docs/documentation/configuration.md
  docs/sidebars.js
  docs/src/pages/components-explorer/_domains/license_plate_recognition/index.mdx
  docs/src/pages/index.tsx
  docs/src/types.tsx
  scripts/gen_docs/const.py
  viseron/__init__.py
  viseron/domains/license_plate_recognition/__init__.py
  viseron/domains/license_plate_recognition/binary_sensor.py
  viseron/domains/license_plate_recognition/const.py
  viseron/domains/license_plate_recognition/sensor.py
  viseron/types.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add codeprojectai license plate recognition
  docs/src/pages/components-explorer/components/codeprojectai/_meta.tsx
  docs/src/pages/components-explorer/components/codeprojectai/config.json
  docs/src/pages/components-explorer/components/codeprojectai/index.mdx
  viseron/components/codeprojectai/__init__.py
  viseron/components/codeprojectai/const.py
  viseron/components/codeprojectai/face_recognition.py
  viseron/components/codeprojectai/license_plate_recognition.py
  viseron/components/codeprojectai/object_detector.py
Due: azure-pipelines/azure-pipelines-viseron.yml

remove print statements
  viseron/components/codeprojectai/face_recognition.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add a simple mask helper to the docs
  docs/package-lock.json
  docs/package.json
  docs/src/components/CoordinatesGenerator.tsx
  docs/src/css/custom.css
  docs/src/pages/components-explorer/_domains/motion_detector/mask.mdx
  docs/src/pages/components-explorer/_domains/object_detector/mask.mdx
  docs/src/pages/components-explorer/_domains/object_detector/zones.mdx
  docs/src/pages/components-explorer/components/background_subtractor/config.json
  docs/src/pages/components-explorer/components/background_subtractor/index.mdx
  docs/src/pages/components-explorer/components/codeprojectai/config.json
  docs/src/pages/components-explorer/components/darknet/config.json
  docs/src/pages/components-explorer/components/darknet/index.mdx
  docs/src/pages/components-explorer/components/deepstack/config.json
  docs/src/pages/components-explorer/components/deepstack/index.mdx
  docs/src/pages/components-explorer/components/edgetpu/config.json
  docs/src/pages/components-explorer/components/edgetpu/index.mdx
  docs/src/pages/components-explorer/components/mog2/config.json
  docs/src/pages/components-explorer/components/mog2/index.mdx
  viseron/helpers/schemas.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Path conditions:
  azure-pipelines/azure-pipelines-viseron.yml: any of: viseron, rootfs, but not: requirements.txt
  azure-pipelines/azure-pipelines-wheels.yml: any of: requirements.txt
