Repository roflcoopter/viseron: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

azure-pipelines/azure-pipelines-viseron.yml:

trigger:
  branches:
    include:
      - dev
  tags:
    include:
      - "*"
  paths:
    include:
      - viseron/*
      - rootfs/*
    exclude:
      - requirements.txt
pr: none

pool:
  vmImage: "ubuntu-latest"

resources:
  pipelines:
    - pipeline: viseronFFmpeg
      source: "Viseron FFmpeg"
      trigger:
        branches:
          - dev
    - pipeline: viseronOpenCV
      source: "Viseron OpenCV"
      trigger:
        branches:
          - dev
    - pipeline: viseronWheels
      source: "Viseron Wheels"
      trigger:
        branches:
          - dev
    - pipeline: viseronBase
      source: "Viseron Base"
      trigger:
        branches:
          - dev

stages:
  - stage: Build
    jobs:
      - template: templates/build.yaml
        parameters:
          image: viseron
          release: true

  - stage: "Publish"
    jobs:
      - job: "ReleaseViseron"
        pool:
          vmImage: "ubuntu-latest"
        steps:
          - template: templates/release_version.yaml
            parameters:
              release: true
          - task: Docker@2
            displayName: Login to Docker Hub
            inputs:
              command: login
              containerRegistry: "Docker Hub"
          - script: |
              set -e
              export DOCKER_CLI_EXPERIMENTAL=enabled

              function create_manifest() {
                local release_version=$1

                docker manifest create roflcoopter/viseron:${release_version} \
                  roflcoopter/amd64-viseron:${release_version} \
                  roflcoopter/rpi3-viseron:${release_version} \
                  roflcoopter/aarch64-viseron:${release_version}

                docker manifest annotate roflcoopter/viseron:${release_version} \
                  roflcoopter/amd64-viseron:${release_version} \
                  --os linux --arch amd64

                docker manifest annotate roflcoopter/viseron:${release_version} \
                  roflcoopter/rpi3-viseron:${release_version} \
                  --os linux --arch arm --variant=v7

                docker manifest annotate roflcoopter/viseron:${release_version} \
                  roflcoopter/aarch64-viseron:${release_version} \
                  --os linux --arch arm64 --variant=v8

                docker manifest push --purge roflcoopter/viseron:${release_version}
                docker manifest inspect roflcoopter/viseron:${release_version}
              }

              docker pull roflcoopter/amd64-viseron:$(viseronVersion)
              docker pull roflcoopter/rpi3-viseron:$(viseronVersion)
              docker pull roflcoopter/aarch64-viseron:$(viseronVersion)

              # Create version tag
              create_manifest "$(viseronVersion)"
              if [ $(latestRelease) = true ] ; then
                create_manifest "latest"
              fi
            displayName: "Create multi-arch image"
          - task: Docker@2
            displayName: Logoff Docker Hub
            inputs:
              command: logout
              containerRegistry: "Docker Hub"
              condition: always()

azure-pipelines/azure-pipelines-wheels.yml:

trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - requirements.txt
pr: none

pool:
  vmImage: "ubuntu-latest"

resources:
  pipelines:
    - pipeline: viserontools
      source: "Viseron tools"
      trigger:
        branches:
          - dev

jobs:
  - template: templates/build.yaml
    parameters:
      image: wheels

fix extension when automatically switching to mkv
  tests/components/ffmpeg/test_stream.py
  viseron/components/ffmpeg/camera.py
  viseron/components/ffmpeg/stream.py
  viseron/components/gstreamer/camera.py
  viseron/domains/camera/__init__.py
  viseron/domains/camera/recorder.py
Due: azure-pipelines/azure-pipelines-viseron.yml

use yolov7 as default for all images
  docker/amd64/Dockerfile.base
  docker/jetson-nano/Dockerfile.base
  docs/src/pages/components-explorer/components/darknet/index.mdx
Due: none

make all camera cards the same height, regardless of aspect ratio
  frontend/src/components/CameraCard.tsx
Due: none

add api endpoint to delete recordings
  viseron/components/webserver/api/v1/camera.py
  viseron/domains/camera/__init__.py
  viseron/domains/camera/recorder.py
Due: azure-pipelines/azure-pipelines-viseron.yml

refactor api exception handling
  viseron/components/webserver/api/__init__.py
  viseron/components/webserver/api/v1/camera.py
  viseron/components/webserver/api/v1/cameras.py
  viseron/components/webserver/api/v1/config.py
Due: azure-pipelines/azure-pipelines-viseron.yml

move recording apis to their own handler
  viseron/components/webserver/api/__init__.py
  viseron/components/webserver/api/v1/__init__.py
  viseron/components/webserver/api/v1/camera.py
  viseron/components/webserver/api/v1/recordings.py
Due: azure-pipelines/azure-pipelines-viseron.yml

decode path_args and path_kwargs
  viseron/components/webserver/api/__init__.py
  viseron/components/webserver/api/v1/camera.py
  viseron/components/webserver/api/v1/recordings.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add snackbar
  frontend/src/components/snackbar/Snackbar.tsx
Due: none

add api framework using react-query and axios
  frontend/package-lock.json
  frontend/package.json
  frontend/src/index.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/types.ts
Due: none

fix delete recordings api
  viseron/domains/camera/recorder.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add button to delete recordings
  frontend/src/components/buttons/MutationIconButton.tsx
  frontend/src/components/recording/RecordingCard.tsx
  frontend/src/components/recording/RecordingCardDaily.tsx
  frontend/src/components/recording/RecordingCardLatest.tsx
Due: none

better logic for getting last recording
  frontend/src/components/recording/RecordingCardDaily.tsx
  frontend/src/components/recording/RecordingCardLatest.tsx
Due: none

add apis for getting recordings in different ways
  viseron/components/webserver/__init__.py
  viseron/components/webserver/api/__init__.py
  viseron/components/webserver/api/v1/recordings.py
  viseron/domains/camera/__init__.py
  viseron/domains/camera/recorder.py
  viseron/helpers/validators.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add delete recording mutation
  frontend/src/lib/api.ts
Due: none

fetch recordings from API instead of websocket
  frontend/src/components/recording/RecordingCardDaily.tsx
  frontend/src/components/recording/RecordingCardLatest.tsx
  frontend/src/lib/helpers.ts
  frontend/src/lib/helpers.tsx
  frontend/src/lib/types.ts
  frontend/src/pages/Cameras.tsx
  frontend/src/pages/recordings/CameraRecordings.tsx
  frontend/src/pages/recordings/CameraRecordingsDaily.tsx
  frontend/src/pages/recordings/Recordings.tsx
Due: none

invalidate recordings query on new recording
  frontend/src/context/ViseronContext.tsx
  frontend/src/index.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/types.ts
Due: none

send 404 response when API encounters unknown path
  viseron/components/webserver/api/__init__.py
  viseron/components/webserver/api/const.py
  viseron/components/webserver/api/handlers.py
  viseron/components/webserver/api/v1/camera.py
  viseron/components/webserver/api/v1/cameras.py
  viseron/components/webserver/api/v1/config.py
  viseron/components/webserver/api/v1/recordings.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add snackbar and mutation hook for deleting recordings
  frontend/src/components/buttons/MutationIconButton.tsx
  frontend/src/components/recording/RecordingCard.tsx
  frontend/src/components/recording/RecordingCardDaily.tsx
  frontend/src/components/recording/RecordingCardLatest.tsx
  frontend/src/components/snackbar/Snackbar.tsx
  frontend/src/context/SnackbarContext.tsx
  frontend/src/index.tsx
  frontend/src/lib/api.ts
Due: none

fix max_recorder_keepalive when running without object detector
  docs/src/pages/components-explorer/components/background_subtractor/config.json
  docs/src/pages/components-explorer/components/mog2/config.json
  viseron/components/nvr/nvr.py
  viseron/domains/motion_detector/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add a zero-width-space between name and type
  docs/src/pages/components-explorer/_components/ComponentConfiguration/index.tsx
Due: none

use a tuple to separate streams with same name into the respective cameras
  viseron/components/webserver/stream_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml

set additional headers frå mjpeg streams
  viseron/components/webserver/stream_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add ffmpeg output args to recorder
  docs/src/pages/components-explorer/components/ffmpeg/config.json
  docs/src/pages/components-explorer/components/gstreamer/config.json
  viseron/components/ffmpeg/camera.py
  viseron/components/ffmpeg/const.py
  viseron/components/ffmpeg/segments.py
  viseron/components/gstreamer/camera.py
  viseron/components/gstreamer/const.py
  viseron/components/gstreamer/pipeline.py
  viseron/components/gstreamer/recorder.py
  viseron/components/gstreamer/segments.py
  viseron/helpers/logs.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add helper for storing data in files
  viseron/const.py
  viseron/helpers/json.py
  viseron/helpers/storage.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add api for adding users
  requirements.txt
  viseron/components/webserver/__init__.py
  viseron/components/webserver/api/handlers.py
  viseron/components/webserver/api/v1/__init__.py
  viseron/components/webserver/api/v1/auth.py
  viseron/components/webserver/auth.py
  viseron/components/webserver/const.py
  viseron/components/webserver/request_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

add onboarding api
  frontend/src/App.tsx
  frontend/src/layouts/PrivateLayout.tsx
  frontend/src/layouts/PublicLayout.tsx
  frontend/src/lib/api/auth.ts
  frontend/src/lib/api/index.ts
  frontend/src/lib/api/onboarding.ts
  frontend/src/lib/types.ts
  frontend/src/pages/Onboarding.tsx
  viseron/components/webserver/api/handlers.py
  viseron/components/webserver/api/v1/__init__.py
  viseron/components/webserver/api/v1/auth.py
  viseron/components/webserver/api/v1/camera.py
  viseron/components/webserver/api/v1/cameras.py
  viseron/components/webserver/api/v1/config.py
  viseron/components/webserver/api/v1/onboarding.py
  viseron/components/webserver/api/v1/recordings.py
  viseron/components/webserver/auth.py
  viseron/components/webserver/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add backend support for tokens and cookies for onboarding
  .pylintrc
  requirements.txt
  viseron/components/webserver/__init__.py
  viseron/components/webserver/api/handlers.py
  viseron/components/webserver/api/v1/onboarding.py
  viseron/components/webserver/auth.py
  viseron/components/webserver/const.py
  viseron/components/webserver/request_handler.py
  viseron/helpers/json.py
  viseron/helpers/storage.py
Due: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

call api using tokens and handle refresh token
  frontend/src/components/buttons/MutationIconButton.tsx
  frontend/src/components/recording/RecordingCard.tsx
  frontend/src/components/recording/RecordingCardDaily.tsx
  frontend/src/components/recording/RecordingCardLatest.tsx
  frontend/src/index.tsx
  frontend/src/lib/api/auth.ts
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/index.ts
  frontend/src/lib/api/onboarding.ts
  frontend/src/lib/api/tokens.ts
  frontend/src/lib/types.ts
  viseron/components/webserver/api/handlers.py
  viseron/components/webserver/api/v1/auth.py
  viseron/components/webserver/api/v1/camera.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add login page
  frontend/src/App.tsx
  frontend/src/components/TextFieldItem.tsx
  frontend/src/lib/api/auth.ts
  frontend/src/pages/Login.tsx
  viseron/components/webserver/api/v1/auth.py
Due: azure-pipelines/azure-pipelines-viseron.yml

redirect on expired session
  frontend/src/context/ViseronContext.tsx
  frontend/src/layouts/PrivateLayout.tsx
  frontend/src/lib/api/auth.ts
  frontend/src/lib/api/client.ts
  frontend/src/lib/types.ts
  frontend/src/pages/Login.tsx
Due: none

add tornado xsrf protection
  frontend/src/lib/api/client.ts
  viseron/components/webserver/__init__.py
  viseron/components/webserver/request_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml

make auth configurable
  viseron/components/webserver/__init__.py
  viseron/components/webserver/api/handlers.py
  viseron/components/webserver/api/v1/auth.py
  viseron/components/webserver/api/v1/onboarding.py
  viseron/components/webserver/auth.py
  viseron/components/webserver/const.py
  viseron/components/webserver/request_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml

combined cookie and header auth
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/buttons/MutationIconButton.tsx
  frontend/src/components/footer/Footer.tsx
  frontend/src/components/loading/Loading.tsx
  frontend/src/components/recording/RecordingCardLatest.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/context/ViseronContext.tsx
  frontend/src/index.tsx
  frontend/src/layouts/PrivateLayout.tsx
  frontend/src/lib/api/auth.ts
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/index.ts
  frontend/src/lib/api/onboarding.ts
  frontend/src/lib/api/tokens.ts
  frontend/src/lib/types.ts
  frontend/src/lib/websockets.ts
  frontend/src/pages/Login.tsx
  frontend/src/pages/recordings/CameraRecordings.tsx
  frontend/src/pages/recordings/CameraRecordingsDaily.tsx
  viseron/components/webserver/api/handlers.py
  viseron/components/webserver/api/v1/auth.py
  viseron/components/webserver/api/v1/onboarding.py
  viseron/components/webserver/request_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add draw_object_mask to docs
  docs/src/pages/components-explorer/_domains/camera/mjpeg_streams.mdx
Due: none

update isort to 5.11.5
  .pre-commit-config.yaml
Due: none

redirect to onboarding on first visit
  frontend/src/context/AuthContext.tsx
  frontend/src/index.tsx
  frontend/src/layouts/PrivateLayout.tsx
  frontend/src/lib/api/auth.ts
  frontend/src/lib/api/onboarding.ts
  frontend/src/lib/types.ts
  frontend/src/pages/Onboarding.tsx
  viseron/components/webserver/api/v1/auth.py
  viseron/components/webserver/api/v1/onboarding.py
  viseron/components/webserver/auth.py
  viseron/components/webserver/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

websocket auth
  frontend/src/context/AuthContext.tsx
  frontend/src/context/ViseronContext.tsx
  frontend/src/layouts/PrivateLayout.tsx
  frontend/src/lib/api/auth.ts
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/onboarding.ts
  frontend/src/lib/messages.ts
  frontend/src/lib/tokens.ts
  frontend/src/lib/websockets.ts
  frontend/src/pages/Login.tsx
  frontend/src/pages/Onboarding.tsx
  viseron/components/webserver/api/handlers.py
  viseron/components/webserver/api/v1/auth.py
  viseron/components/webserver/const.py
  viseron/components/webserver/request_handler.py
  viseron/components/webserver/websocket_api/__init__.py
  viseron/components/webserver/websocket_api/messages.py
  viseron/domains/camera/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

infinite sessions by default
  docs/src/pages/components-explorer/components/webserver/config.json
  viseron/components/webserver/__init__.py
  viseron/components/webserver/auth.py
  viseron/components/webserver/const.py
  viseron/components/webserver/request_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml

logout button
  frontend/src/components/header/Header.tsx
  frontend/src/lib/api/auth.ts
  frontend/src/lib/tokens.ts
  frontend/src/pages/Login.tsx
  viseron/components/webserver/api/v1/auth.py
  viseron/components/webserver/auth.py
Due: azure-pipelines/azure-pipelines-viseron.yml

use styled react-toastify instead of snackbarcontext
  frontend/src/components/header/Header.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/context/SnackbarContext.tsx
  frontend/src/context/ViseronContext.tsx
  frontend/src/hooks/UseToast.tsx
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/layouts/PrivateLayout.tsx
  frontend/src/lib/api/auth.ts
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/onboarding.ts
  frontend/src/lib/websockets.ts
  frontend/src/pages/Login.tsx
Due: none
