Repository roflcoopter/viseron: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

azure-pipelines/azure-pipelines-viseron.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    jobs:
    - template: templates/build.yaml
      parameters:
        image: viseron
        release: true
  - stage: Publish
    jobs:
    - job: ReleaseViseron
      pool:
        vmImage: ubuntu-latest
      steps:
      - template: templates/release_version.yaml
  ...

azure-pipelines/azure-pipelines-wheels.yml:
  pool:
    vmImage: ubuntu-latest
  jobs:
  - template: templates/build.yaml
    parameters:
      image: wheels

automatically upgrade postresql major versions
  rootfs/etc/cont-finish.d/10-postgres
  rootfs/etc/cont-init.d/40-set-env-vars
  rootfs/etc/cont-init.d/80-postgres
  rootfs/etc/services.d/postgres/run
  rootfs/helpers/set_env.sh
Due: azure-pipelines/azure-pipelines-viseron.yml

install python 3.9 for edgetpu
  docker/Dockerfile
Due: none

install python3.10 and python3.9 in jetson nano image
  azure-pipelines/.env
  azure-pipelines/docker-compose-build.yaml
  docker/Dockerfile
  docker/jetson-nano/Dockerfile.base
  docker/jetson-nano/Dockerfile.python
  docker/jetson-nano/Dockerfile.wheels
  docker/jetson-nano/pycoral-2.0.0-cp38-cp38-linux_aarch64.whl
  docker/jetson-nano/tflite_runtime-2.5.0.post1-cp38-cp38-linux_aarch64.whl
Due: none

update devcontainer for python 3.10
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  .github/workflows/ci.yaml
  .mypy.ini
  .vscode/tasks.json
  docker/Dockerfile.dev
  requirements_test.txt
Due: none

print viseron version on startup
  viseron/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

update to new dependencies from apt
  docker/Dockerfile
  docker/aarch64/Dockerfile.base
  docker/rpi3/Dockerfile.base
Due: none

upgrade cuda to 12.4.1
  azure-pipelines/.env
Due: none

change cudnn8 to cudnn
  docker/amd64-cuda/Dockerfile.base
  docker/amd64-cuda/Dockerfile.darknet
  docker/amd64-cuda/Dockerfile.dlib
  docker/amd64-cuda/Dockerfile.opencv
Due: none

update cuda compute capabilities
  docker/amd64-cuda/Dockerfile.dlib
  docker/amd64-cuda/Dockerfile.ffmpeg
  docker/amd64-cuda/Dockerfile.opencv
Due: none

aarch64-ffmpeg multistage build for faster builds
  docker/aarch64/Dockerfile.ffmpeg
Due: none

pin cuda to 12.3.2 and cudnn to 8
  azure-pipelines/.env
  docker/amd64-cuda/Dockerfile.base
  docker/amd64-cuda/Dockerfile.darknet
  docker/amd64-cuda/Dockerfile.dlib
  docker/amd64-cuda/Dockerfile.opencv
  docker/amd64/Dockerfile.base
Due: none

upgrade dlib and darknet
  azure-pipelines/.env
  azure-pipelines/docker-compose-build.yaml
  docker/amd64-cuda/Dockerfile.base
  docker/amd64-cuda/Dockerfile.darknet
  docker/amd64-cuda/Dockerfile.dlib
  requirements.txt
Due: azure-pipelines/azure-pipelines-wheels.yml

run edgetpu in a separate python 3.9 shell
  .dockerignore
  .gitignore
  docker/Dockerfile
  manager.py
  viseron/components/edgetpu/__init__.py
  viseron/components/edgetpu/edgetpu_subprocess.py
  viseron/components/edgetpu/object_detector.py
  viseron/helpers/__init__.py
  viseron/helpers/child_process_worker.py
  viseron/helpers/logs.py
  viseron/helpers/subprocess_worker.py
Due: azure-pipelines/azure-pipelines-viseron.yml

change CI to run on ubntu 22.04
  .github/workflows/ci.yaml
Due: none

remove pycoral from ci
  .github/workflows/ci.yaml
  requirements_ci.txt
Due: none

fix typo in ci.yaml
  .github/workflows/ci.yaml
Due: none

log error when file already exists in db
  viseron/components/storage/tier_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml

apply filters to the concatenation command for create_event_clip
  viseron/domains/camera/const.py
  viseron/domains/camera/fragmenter.py
Due: azure-pipelines/azure-pipelines-viseron.yml

run python-typing-update
  .pre-commit-config.yaml
  tests/common.py
  tests/conftest.py
  tests/domains/camera/test_recorder.py
  viseron/__init__.py
  viseron/components/data_stream/__init__.py
  viseron/components/ffmpeg/const.py
  viseron/components/mqtt/__init__.py
  viseron/components/mqtt/helpers.py
  viseron/components/storage/__init__.py
  viseron/components/storage/models.py
  viseron/components/storage/queries.py
  viseron/components/webserver/api/v1/events.py
  viseron/components/webserver/api/v1/hls.py
  viseron/components/webserver/request_handler.py
  viseron/components/webserver/stream_handler.py
  viseron/components/webserver/websocket_api/__init__.py
  viseron/components/webserver/websocket_api/commands.py
  viseron/domains/camera/recorder.py
  viseron/domains/motion_detector/__init__.py
  viseron/domains/motion_detector/const.py
  viseron/domains/object_detector/const.py
  viseron/helpers/validators.py
  viseron/watchdog/thread_watchdog.py
Due: azure-pipelines/azure-pipelines-viseron.yml

upgrade pylint to 3.1
  .pylintrc
  requirements_ci.txt
  requirements_test.txt
  viseron/components/darknet/__init__.py
  viseron/components/webserver/__init__.py
  viseron/domains/object_detector/__init__.py
  viseron/helpers/fixed_size_dict.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix opencv mypy errors
  viseron/components/background_subtractor/motion_detector.py
  viseron/components/codeprojectai/face_recognition.py
  viseron/components/mog2/motion_detector.py
Due: azure-pipelines/azure-pipelines-viseron.yml

make sure role with oid=10 is postgres when upgrading major version
  rootfs/etc/cont-init.d/40-set-env-vars
  rootfs/etc/cont-init.d/80-postgres
Due: azure-pipelines/azure-pipelines-viseron.yml

upgrade opencl and va-api
  azure-pipelines/.env
  azure-pipelines/docker-compose-build.yaml
  docker/amd64-cuda/Dockerfile.base
  docker/amd64/Dockerfile.base
Due: none

default to opencv backend when opencl is available
  viseron/components/darknet/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add warning to docs that openvino causes segfaults
  docs/src/pages/components-explorer/components/darknet/index.mdx
Due: none

delete files directly when no succeeding tier needs it
  tests/components/storage/test_tier_handler.py
  viseron/components/storage/tier_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml

change psql version extract to work on lower versions
  rootfs/etc/cont-init.d/40-set-env-vars
Due: azure-pipelines/azure-pipelines-viseron.yml

crossbuild gpac
  docker/Dockerfile
Due: none

remove unnecessary sleep in wait_for_threads_and_processes_to_exit function
  viseron/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix slow shutdown in tests by calling tearDown before shutdown
  tests/components/webserver/common.py
Due: none

close all fds when closing IOLoop
  viseron/components/webserver/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix gstreamer hanging and support vaapi
  rootfs/etc/cont-init.d/40-set-env-vars
  viseron/components/gstreamer/const.py
  viseron/components/gstreamer/pipeline.py
  viseron/components/gstreamer/stream.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add pygobject-stubs to requirements_test.txt
  requirements_test.txt
Due: none

ignore pylint errors for gi
  viseron/components/gstreamer/const.py
  viseron/components/gstreamer/stream.py
Due: azure-pipelines/azure-pipelines-viseron.yml

save snapshots for face recognition
  docs/src/pages/components-explorer/components/codeprojectai/config.json
  docs/src/pages/components-explorer/components/compreface/config.json
  docs/src/pages/components-explorer/components/deepstack/config.json
  docs/src/pages/components-explorer/components/dlib/config.json
  viseron/components/codeprojectai/face_recognition.py
  viseron/components/compreface/face_recognition.py
  viseron/components/deepstack/face_recognition.py
  viseron/components/dlib/face_recognition.py
  viseron/components/storage/models.py
  viseron/domains/camera/__init__.py
  viseron/domains/face_recognition/__init__.py
  viseron/domains/face_recognition/const.py
  viseron/domains/object_detector/__init__.py
  viseron/domains/post_processor/__init__.py
  viseron/helpers/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

SharedFrame context manager to avoid removing it too soon for slow post processors
  viseron/components/nvr/nvr.py
  viseron/components/webserver/api/v1/camera.py
  viseron/domains/camera/shared_frames.py
  viseron/domains/image_classification/__init__.py
  viseron/domains/license_plate_recognition/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add PostProcessorResults migration
  viseron/components/storage/alembic/versions/8462ca6851b2_add_postprocessorresults_table.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix typing in nvr
  viseron/components/nvr/nvr.py
Due: azure-pipelines/azure-pipelines-viseron.yml

show face recognition results in the timeline
  frontend/src/components/events/timeline/Item.tsx
  frontend/src/components/events/timeline/ObjectEvent.tsx
  frontend/src/components/events/timeline/Row.tsx
  frontend/src/components/events/timeline/SnapshotEvent.tsx
  frontend/src/components/events/timeline/utils.tsx
  frontend/src/lib/types.ts
  viseron/components/webserver/api/v1/events.py
Due: azure-pipelines/azure-pipelines-viseron.yml

group events on the events tab
  frontend/src/components/events/EventPlayerCard.tsx
  frontend/src/components/events/EventTable.tsx
  frontend/src/components/events/EventTableItem.tsx
  frontend/src/components/events/EventsCameraGrid.tsx
  frontend/src/components/events/Layouts.tsx
  frontend/src/components/events/SnapshotEvent.tsx
  frontend/src/components/events/timeline/ActivityLine.tsx
  frontend/src/components/events/timeline/HoverLine.tsx
  frontend/src/components/events/timeline/Item.tsx
  frontend/src/components/events/timeline/ProgressLine.tsx
  frontend/src/components/events/timeline/Row.tsx
  frontend/src/components/events/timeline/TimeTick.tsx
  frontend/src/components/events/timeline/TimelinePlayer.tsx
  frontend/src/components/events/timeline/TimelineTable.tsx
  frontend/src/components/events/timeline/VirtualList.tsx
  frontend/src/components/events/utils.tsx
  frontend/src/components/videoplayer/VideoPlayerPlaceholder.tsx
  frontend/src/lib/api/events.ts
  frontend/src/lib/api/hls.ts
  frontend/src/lib/helpers.tsx
  frontend/src/lib/types.ts
  frontend/src/pages/Events.tsx
  viseron/components/webserver/api/v1/events.py
  viseron/components/webserver/api/v1/hls.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Path conditions:
  azure-pipelines/azure-pipelines-viseron.yml: any of: viseron, rootfs, but not: requirements.txt
  azure-pipelines/azure-pipelines-wheels.yml: any of: requirements.txt
