Repository roflcoopter/viseron: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

azure-pipelines/azure-pipelines-viseron.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    jobs:
    - template: templates/build.yaml
      parameters:
        image: viseron
        release: true
  - stage: Publish
    jobs:
    - job: ReleaseViseron
      pool:
        vmImage: ubuntu-latest
      steps:
      - template: templates/release_version.yaml
  ...

azure-pipelines/azure-pipelines-wheels.yml:
  pool:
    vmImage: ubuntu-latest
  jobs:
  - template: templates/build.yaml
    parameters:
      image: wheels

docker layer caching/parallel stages with buildkit
  azure-pipelines/docker-compose-build.yaml
  azure-pipelines/templates/build.yaml
  docker/Dockerfile
  docker/rpi3/Dockerfile.ffmpeg
  docker/test_cuda_availability.cu
Due: none

cd before pull
  azure-pipelines/templates/build.yaml
Due: none

multirow script
  azure-pipelines/templates/build.yaml
Due: none

redirect stream to mjpeg-stream
  viseron/webserver/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add tests for all files in config module
  .dockerignore
  .gitignore
  .pylintrc
  azure-pipelines/docker-compose-build.yaml
  docker/Dockerfile.tests
  rootfs/etc/services.d/viseron/run
  tests/__init__.py
  tests/config/test__init__.py
  tests/config/test_config_camera.py
  tests/config/test_config_motion_detection.py
  tests/config/test_config_mqtt.py
  tests/config/test_config_object_detection.py
  tests/config/test_config_post_processors.py
  tests/config/test_config_recorder.py
  tests/conftest.py
  tests/helpers.py
  viseron/__init__.py
  viseron/config/__init__.py
  viseron/config/config_logging.py
  viseron/config/config_object_detection.py
  viseron/config/config_post_processors.py
  viseron/config/config_recorder.py
  viseron/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add tests for __main__.py
  tests/test_main.py
  viseron/__main__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

run isort on PRs
  .github/workflows/ci.yaml
  .gitignore
  .pre-commit-config.yaml
Due: none

install pre-commit
  .github/workflows/ci.yaml
  .gitignore
  requirements_test.txt
Due: none

initialize venv
  .github/workflows/ci.yaml
Due: none

properly restore venv
  .github/workflows/ci.yaml
Due: none

correct python venv cache name
  .github/workflows/ci.yaml
Due: none

add CACHE_VERSION env var
  .github/workflows/ci.yaml
Due: none

add prepare-tests job
  .github/workflows/ci.yaml
Due: none

fix relative filepath to docker-compose-build.yaml
  .github/workflows/ci.yaml
Due: none

save and load pytest docker image
  .github/workflows/ci.yaml
Due: none

build pytest image
  .github/workflows/ci.yaml
Due: none

make sure all tests pass
  tests/config/test__init__.py
  tests/config/test_config_camera.py
  tests/config/test_config_object_detection.py
  tests/test_main.py
  viseron/config/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

run pytest and upload coverage
  .dockerignore
  .github/workflows/ci.yaml
  .gitignore
  azure-pipelines/docker-compose-build.yaml
  docker/Dockerfile.tests
  requirements_ci.txt
  requirements_test.txt
Due: none

add codecov.yaml
  .gitignore
  codecov.yaml
Due: none

cache-keys as variables
  .github/workflows/ci.yaml
Due: none

add black to ci
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
Due: none

add codespell
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
Due: none

add flake8
  .flake8
  .github/workflows/ci.yaml
  .gitignore
  .pre-commit-config.yaml
  docker/Dockerfile.tests
Due: none

fix pylint and flake8 error
  viseron/detector/edgetpu/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add pylint to CI
  .github/workflows/ci.yaml
  .gitignore
  requirements_ci.txt
Due: none

add tox and CONTRIBUTING.md
  .gitignore
  README.md
  azure-pipelines/docker-compose-build.yaml
  docker/Dockerfile.tests
  docs/CONTRIBUTING.md
  docs/img/sponsor_button.png
  tox.ini
Due: none

list all changed files in ci
  .github/workflows/ci.yaml
Due: none

permission fix for PCI edgetpus
  rootfs/etc/cont-init.d/30-edgetpu-permission
Due: azure-pipelines/azure-pipelines-viseron.yml

edgetpu device config option
  .github/workflows/ci.yaml
  .gitignore
  README.md
  azure-pipelines/.env
  docker/Dockerfile.wheels
  docker/jetson-nano/Dockerfile.wheels
  tests/detector/edgetpu/test__init__.py
  viseron/detector/edgetpu/__init__.py
  viseron/detector/edgetpu/defaults.py
Due: azure-pipelines/azure-pipelines-viseron.yml

new config option for object_detection mask
  .gitignore
  README.md
  tests/common.py
  tests/config/test__init__.py
  tests/config/test_config_camera.py
  tests/config/test_config_motion_detection.py
  tests/config/test_config_mqtt.py
  tests/config/test_config_object_detection.py
  tests/config/test_config_post_processors.py
  tests/config/test_config_recorder.py
  tests/conftest.py
  tests/const.py
  tests/helpers/__init__.py
  tests/helpers/test__init__.py
  tests/helpers/test_filter.py
  tests/test_nvr.py
  viseron/config/config_camera.py
  viseron/config/config_motion_detection.py
  viseron/config/config_object_detection.py
  viseron/data_stream.py
  viseron/detector/detected_object.py
  viseron/helpers/__init__.py
  viseron/helpers/filter.py
  viseron/motion.py
  viseron/mqtt/binary_sensor.py
  viseron/mqtt/camera.py
  viseron/mqtt/sensor.py
  viseron/nvr.py
  viseron/recorder.py
  viseron/webserver/stream_handler.py
  viseron/zones.py
Due: azure-pipelines/azure-pipelines-viseron.yml

build nvmpi and pin ffmpeg=4.2 for jetson nano
  azure-pipelines/.env
  azure-pipelines/docker-compose-build.yaml
  docker/jetson-nano/Dockerfile.base
  docker/jetson-nano/Dockerfile.ffmpeg
  tests/config/test_config_camera.py
  viseron/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

pin numpy and install scikit-learn from pip
  docker/Dockerfile
  docker/amd64-cuda/Dockerfile.dlib
  docker/amd64/Dockerfile.dlib
  docker/jetson-nano/Dockerfile.dlib
  docker/jetson-nano/Dockerfile.wheels
  docker/rpi3/Dockerfile.dlib
  requirements.txt
Due: azure-pipelines/azure-pipelines-wheels.yml

Revert "pin numpy and install scikit-learn from pip"
  docker/Dockerfile
  docker/amd64-cuda/Dockerfile.dlib
  docker/amd64/Dockerfile.dlib
  docker/jetson-nano/Dockerfile.dlib
  docker/jetson-nano/Dockerfile.wheels
  docker/rpi3/Dockerfile.dlib
  requirements.txt
Due: azure-pipelines/azure-pipelines-wheels.yml

set max size in detector queue
  docker/Dockerfile
  viseron/detector/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Update README.md
  README.md
Due: none

fix libedgetpu1 installation
  docker/Dockerfile
  docker/Dockerfile.wheels
Due: none

Simple UI
  .gitignore
  viseron/const.py
  viseron/webserver/__init__.py
  viseron/webserver/assets/static/css/bulma.min.css
  viseron/webserver/assets/static/css/simple-datatables.css
  viseron/webserver/assets/static/js/simple-datatables.js
  viseron/webserver/assets/templates/about.html
  viseron/webserver/assets/templates/cameras.html
  viseron/webserver/assets/templates/index.html
  viseron/webserver/assets/templates/layout.html
  viseron/webserver/assets/templates/recordings.html
  viseron/webserver/assets/templates/settings.html
  viseron/webserver/assets/templates/ws_index.html
  viseron/webserver/ui.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Path conditions:
  azure-pipelines/azure-pipelines-viseron.yml: any of: viseron, rootfs, but not: requirements.txt
  azure-pipelines/azure-pipelines-wheels.yml: any of: requirements.txt
