Repository roflcoopter/viseron: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

azure-pipelines/azure-pipelines-viseron.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    jobs:
    - template: templates/build.yaml
      parameters:
        image: viseron
        release: true
  - stage: Publish
    jobs:
    - job: ReleaseViseron
      pool:
        vmImage: ubuntu-latest
      steps:
      - template: templates/release_version.yaml
  ...

azure-pipelines/azure-pipelines-wheels.yml:
  pool:
    vmImage: ubuntu-latest
  jobs:
  - template: templates/build.yaml
    parameters:
      image: wheels

run image processing in executor for live stream
  viseron/components/webserver/stream_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml

await response_success in test
  tests/components/webserver/api/test_handlers.py
Due: none

properly wait for webserver to stop
  viseron/components/webserver/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

improve shutdown sequence and make sure all threads are stopped
  requirements_test.txt
  tests/conftest.py
  tests/test__init__.py
  viseron/__init__.py
  viseron/__main__.py
  viseron/components/data_stream/__init__.py
  viseron/components/ffmpeg/stream.py
  viseron/components/nvr/nvr.py
  viseron/domains/camera/fragmenter.py
  viseron/domains/post_processor/__init__.py
  viseron/helpers/logs.py
  viseron/helpers/subprocess_worker.py
  viseron/watchdog/__init__.py
  viseron/watchdog/process_watchdog.py
  viseron/watchdog/subprocess_watchdog.py
  viseron/watchdog/thread_watchdog.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix minor typos in docs
  docs/src/pages/components-explorer/components/logger/index.mdx
  docs/src/pages/components-explorer/components/storage/config.json
  scripts/gen_docs/const.py
  viseron/components/storage/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add documentation for adding timestamp to video in FFmpeg configuration
  docs/src/pages/components-explorer/components/ffmpeg/index.mdx
Due: none

Update docker.mdx - --env-file vs --env
  docs/docs/developers/docker.mdx
Due: none

Update docker.mdx
  docs/docs/developers/docker.mdx
Due: none

fix ffmpeg log pipe closing
  viseron/components/ffmpeg/stream.py
Due: azure-pipelines/azure-pipelines-viseron.yml

remove files_meta table to avoid costly joins
  tests/common.py
  tests/components/storage/test_queries.py
  tests/components/storage/test_tier_handler.py
  tests/components/webserver/api/v1/test_hls.py
  viseron/components/storage/__init__.py
  viseron/components/storage/alembic/versions/620b4d1e5736_move_orig_ctime_and_duration_to_files_.py
  viseron/components/storage/jobs.py
  viseron/components/storage/models.py
  viseron/components/storage/queries.py
  viseron/components/storage/tier_handler.py
  viseron/components/storage/triggers.py
  viseron/components/webserver/api/v1/hls.py
  viseron/components/webserver/websocket_api/commands.py
  viseron/domains/camera/fragmenter.py
  viseron/domains/camera/recorder.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add gitsponsors to README
  README.md
Due: none

add record_only config option which allows for storing 24/7 recordings without processing stream
  docs/src/pages/components-explorer/components/ffmpeg/config.json
  frontend/src/components/camera/CameraCard.tsx
  frontend/src/lib/api/camera.ts
  frontend/src/lib/types.ts
  frontend/tests/lib/helpers.test.ts
  viseron/components/ffmpeg/camera.py
  viseron/components/ffmpeg/const.py
  viseron/components/ffmpeg/stream.py
  viseron/components/gstreamer/camera.py
  viseron/components/webserver/api/v1/camera.py
  viseron/domains/camera/__init__.py
  viseron/domains/camera/const.py
  viseron/domains/camera/entity/binary_sensor.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix mjpeg stream exception
  viseron/components/data_stream/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

further asyncio event loop improvements
  requirements.txt
  viseron/components/webserver/__init__.py
  viseron/components/webserver/api/handlers.py
  viseron/components/webserver/api/v1/download.py
  viseron/components/webserver/request_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

upgrade mypy to 1.14.1
  requirements_test.txt
  viseron/__init__.py
  viseron/helpers/json.py
  viseron/helpers/logs.py
Due: azure-pipelines/azure-pipelines-viseron.yml

mount workspacefolder/config to /config in devcontainer
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
Due: none

ugprade ci to actions/cache@v4
  .github/workflows/ci.yaml
Due: none

fix so that opening drawer doesnt rerender page
  frontend/src/components/header/Header.tsx
  frontend/src/layouts/PrivateLayout.tsx
Due: none

add config option to set still image resolution
  docs/src/pages/components-explorer/components/ffmpeg/config.json
  docs/src/pages/components-explorer/components/gstreamer/config.json
  frontend/src/components/camera/CameraCard.tsx
  frontend/src/lib/types.ts
  frontend/tests/lib/helpers.test.ts
  viseron/domains/camera/__init__.py
  viseron/domains/camera/config.py
  viseron/domains/camera/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix Header test
  frontend/tests/components/header/Header.test.tsx
Due: none

remove gitsponsors
  README.md
Due: none

add error boundaries to frontend
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/error/ErrorMessage.tsx
  frontend/src/index.tsx
Due: none

use zustand for storing requested timestamp
  frontend/src/components/events/EventPlayerCard.tsx
  frontend/src/components/events/EventTable.tsx
  frontend/src/components/events/EventTableItem.tsx
  frontend/src/components/events/Layouts.tsx
  frontend/src/components/events/SyncManager.tsx
  frontend/src/components/events/timeline/TimelinePlayer.tsx
  frontend/src/components/events/timeline/TimelineTable.tsx
  frontend/src/components/events/utils.tsx
  frontend/src/pages/Events.tsx
Due: none

improve seeking over gaps
  frontend/src/components/events/SyncManager.tsx
  frontend/src/components/events/timeline/TimelinePlayer.tsx
Due: none

avoid syncing players for a short period after reloading source
  frontend/src/components/events/SyncManager.tsx
Due: none

seek to the closest fragment when resuming playback from paused players
  frontend/src/components/events/SyncManager.tsx
Due: none

ignore bufferStalled and levelLoaded errors
  frontend/src/components/events/SyncManager.tsx
Due: none

startLoad at first segment instead of last
  frontend/src/components/events/timeline/TimelinePlayer.tsx
Due: none

correctly calculate the position of the progress line
  frontend/src/components/events/timeline/ProgressLine.tsx
  frontend/src/components/events/utils.tsx
Due: none

add option to pause interval when tab is not visible
  frontend/src/components/events/SyncManager.tsx
  frontend/src/hooks/UseControlledInterval.tsx
Due: none

replace useCameraStore with useFilteredCameras for improved camera data handling
  frontend/src/components/events/EventDatePickerDialog.tsx
  frontend/src/components/events/EventPlayerCard.tsx
  frontend/src/components/events/EventTable.tsx
  frontend/src/components/events/EventsCameraGrid.tsx
  frontend/src/components/events/ExportDialog.tsx
  frontend/src/components/events/Layouts.tsx
  frontend/src/components/events/timeline/TimelineTable.tsx
  frontend/src/components/events/utils.tsx
Due: none

better handling of restarts on Events page
  frontend/src/components/events/CameraPickerDialog.tsx
  frontend/src/components/events/EventPlayerCard.tsx
  frontend/src/components/events/EventTable.tsx
  frontend/src/components/events/EventTableItem.tsx
  frontend/src/components/events/EventsCameraGrid.tsx
  frontend/src/components/events/FloatingMenu.tsx
  frontend/src/components/events/Layouts.tsx
  frontend/src/lib/api/cameras.ts
  frontend/src/pages/Events.tsx
Due: none

break out availableTimespans to allow selecting events from hover menu
  frontend/src/components/events/EventDatePickerDialog.tsx
  frontend/src/components/events/EventPlayerCard.tsx
  frontend/src/components/events/EventTable.tsx
  frontend/src/components/events/EventTableItem.tsx
  frontend/src/components/events/Layouts.tsx
  frontend/src/components/events/SnapshotEvent.tsx
  frontend/src/components/events/timeline/TimelineTable.tsx
  frontend/src/components/events/utils.tsx
  frontend/src/pages/Events.tsx
Due: none

remove hls gap tags
  tests/components/webserver/api/v1/test_hls.py
  tests/domains/camera/test_fragmenter.py
  viseron/domains/camera/fragmenter.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix indent in TimelinePlayer.tsx
  frontend/src/components/events/timeline/TimelinePlayer.tsx
Due: none

deprecate trigger_recorder in favor of trigger_event_recording
  docs/docs/documentation/configuration.md
  docs/docs/documentation/configuration/snapshots.md
  docs/src/pages/components-explorer/_domains/motion_detector/index.mdx
  docs/src/pages/components-explorer/_domains/object_detector/zones.mdx
  docs/src/pages/components-explorer/components/background_subtractor/config.json
  docs/src/pages/components-explorer/components/background_subtractor/index.mdx
  docs/src/pages/components-explorer/components/codeprojectai/config.json
  docs/src/pages/components-explorer/components/codeprojectai/index.mdx
  docs/src/pages/components-explorer/components/darknet/config.json
  docs/src/pages/components-explorer/components/darknet/index.mdx
  docs/src/pages/components-explorer/components/deepstack/config.json
  docs/src/pages/components-explorer/components/edgetpu/config.json
  docs/src/pages/components-explorer/components/edgetpu/index.mdx
  docs/src/pages/components-explorer/components/mog2/config.json
  docs/src/pages/components-explorer/components/mog2/index.mdx
  tests/components/codeprojectai/test_object_detector.py
  tests/helpers/test_filter.py
  viseron/components/nvr/nvr.py
  viseron/components/storage/const.py
  viseron/const.py
  viseron/domains/motion_detector/__init__.py
  viseron/domains/motion_detector/const.py
  viseron/domains/object_detector/__init__.py
  viseron/domains/object_detector/const.py
  viseron/domains/object_detector/detected_object.py
  viseron/domains/object_detector/zone.py
  viseron/helpers/filter.py
Due: azure-pipelines/azure-pipelines-viseron.yml

move clips from /recordings to /event_clips
  docker/Dockerfile.dev
  docs/docs/documentation/configuration/recordings.mdx
  docs/docs/documentation/installation.mdx
  docs/src/pages/components-explorer/components/ffmpeg/index.mdx
  docs/src/pages/components-explorer/components/logger/index.mdx
  rootfs/etc/cont-init.d/10-adduser
  tests/components/storage/test_tier_handler.py
  tests/components/webserver/test_tiered_file_handler.py
  viseron/components/storage/__init__.py
  viseron/components/storage/alembic/versions/7b1f82f2ec39_move_clips_to_new_folder.py
  viseron/components/storage/const.py
  viseron/components/storage/jobs.py
  viseron/components/storage/queries.py
  viseron/components/storage/tier_handler.py
  viseron/components/storage/util.py
  viseron/components/webserver/api/v1/hls.py
  viseron/components/webserver/websocket_api/commands.py
  viseron/domains/camera/__init__.py
  viseron/domains/camera/recorder.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix components-explorer link
  docs/src/pages/components-explorer/_components/ComponentCard/index.tsx
Due: none

make storage config the same for cameras
  docs/docs/documentation/configuration/recordings.mdx
  docs/src/pages/components-explorer/components/ffmpeg/config.json
  docs/src/pages/components-explorer/components/gstreamer/config.json
  tests/components/storage/test__init__.py
  tests/components/storage/test_config.py
  viseron/components/storage/__init__.py
  viseron/components/storage/config.py
  viseron/domains/camera/__init__.py
  viseron/domains/camera/config.py
Due: azure-pipelines/azure-pipelines-viseron.yml

create folders in Dockerfile.tests
  docker/Dockerfile.tests
Due: none

Path conditions:
  azure-pipelines/azure-pipelines-viseron.yml: any of: viseron, rootfs, but not: requirements.txt
  azure-pipelines/azure-pipelines-wheels.yml: any of: requirements.txt
