Repository roflcoopter/viseron: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

azure-pipelines/azure-pipelines-viseron.yml:

trigger:
  branches:
    include:
      - dev
  tags:
    include:
      - "*"
  paths:
    include:
      - viseron/*
      - rootfs/*
    exclude:
      - requirements.txt
pr: none

pool:
  vmImage: "ubuntu-latest"

resources:
  pipelines:
    - pipeline: viseronFFmpeg
      source: "Viseron FFmpeg"
      trigger:
        branches:
          - dev
    - pipeline: viseronOpenCV
      source: "Viseron OpenCV"
      trigger:
        branches:
          - dev
    - pipeline: viseronWheels
      source: "Viseron Wheels"
      trigger:
        branches:
          - dev
    - pipeline: viseronBase
      source: "Viseron Base"
      trigger:
        branches:
          - dev

stages:
  - stage: Build
    jobs:
      - template: templates/build.yaml
        parameters:
          image: viseron
          release: true

  - stage: "Publish"
    jobs:
      - job: "ReleaseViseron"
        pool:
          vmImage: "ubuntu-latest"
        steps:
          - template: templates/release_version.yaml
            parameters:
              release: true
          - task: Docker@2
            displayName: Login to Docker Hub
            inputs:
              command: login
              containerRegistry: "Docker Hub"
          - script: |
              set -e
              export DOCKER_CLI_EXPERIMENTAL=enabled

              function create_manifest() {
                local release_version=$1

                docker manifest create roflcoopter/viseron:${release_version} \
                  roflcoopter/amd64-viseron:${release_version} \
                  roflcoopter/rpi3-viseron:${release_version} \
                  roflcoopter/aarch64-viseron:${release_version}

                docker manifest annotate roflcoopter/viseron:${release_version} \
                  roflcoopter/amd64-viseron:${release_version} \
                  --os linux --arch amd64

                docker manifest annotate roflcoopter/viseron:${release_version} \
                  roflcoopter/rpi3-viseron:${release_version} \
                  --os linux --arch arm --variant=v7

                docker manifest annotate roflcoopter/viseron:${release_version} \
                  roflcoopter/aarch64-viseron:${release_version} \
                  --os linux --arch arm64 --variant=v8

                docker manifest push --purge roflcoopter/viseron:${release_version}
                docker manifest inspect roflcoopter/viseron:${release_version}
              }

              docker pull roflcoopter/amd64-viseron:$(viseronVersion)
              docker pull roflcoopter/rpi3-viseron:$(viseronVersion)
              docker pull roflcoopter/aarch64-viseron:$(viseronVersion)

              # Create version tag
              create_manifest "$(viseronVersion)"
              if [ $(latestRelease) = true ] ; then
                create_manifest "latest"
              fi
            displayName: "Create multi-arch image"
          - task: Docker@2
            displayName: Logoff Docker Hub
            inputs:
              command: logout
              containerRegistry: "Docker Hub"
              condition: always()

azure-pipelines/azure-pipelines-wheels.yml:

trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - requirements.txt
pr: none

pool:
  vmImage: "ubuntu-latest"

resources:
  pipelines:
    - pipeline: viserontools
      source: "Viseron tools"
      trigger:
        branches:
          - dev

jobs:
  - template: templates/build.yaml
    parameters:
      image: wheels

show min/max list length in config docs page
  docs/docs/documentation.md
  docs/src/pages/components-explorer/_components/ComponentConfiguration/index.tsx
Due: none

fix ffmpeg crash when running without substream
  viseron/components/ffmpeg/stream.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add recommended vscode extensions
  .devcontainer/setup.sh
  .gitignore
  .vscode/extensions.json
Due: none

resize using INTER_AREA instead of INTER_CUBIC
  viseron/helpers/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

small updates to the docs
  docs/docs/documentation/configuration.md
  docs/src/pages/components-explorer/components/codeprojectai/index.mdx
  docs/src/pages/components-explorer/components/darknet/index.mdx
  docs/src/pages/components-explorer/components/deepstack/index.mdx
  docs/src/pages/components-explorer/components/edgetpu/index.mdx
Due: none

include yolov7 model in rpi3/armv7 image
  docker/rpi3/Dockerfile.base
Due: none

update intel drivers and opencl
  azure-pipelines/.env
  docker/amd64-cuda/Dockerfile.base
  docker/amd64/Dockerfile.base
Due: none

run gstreamer using python-gst
  docker/Dockerfile
  rootfs/etc/cont-init.d/40-set-env-vars
  viseron/components/ffmpeg/segments.py
  viseron/components/gstreamer/camera.py
  viseron/components/gstreamer/const.py
  viseron/components/gstreamer/pipeline.py
  viseron/components/gstreamer/recorder.py
  viseron/components/gstreamer/segments.py
  viseron/components/gstreamer/stream.py
  viseron/watchdog/process_watchdog.py
Due: azure-pipelines/azure-pipelines-viseron.yml

added detect_remote_faces to face_recognition domain
  docs/src/pages/components-explorer/components/codeprojectai/config.json
  docs/src/pages/components-explorer/components/compreface/config.json
  docs/src/pages/components-explorer/components/deepstack/config.json
  docs/src/pages/components-explorer/components/dlib/config.json
  viseron/components/codeprojectai/face_recognition.py
  viseron/components/compreface/const.py
  viseron/components/compreface/face_recognition.py
  viseron/components/deepstack/face_recognition.py
  viseron/components/dlib/face_recognition.py
  viseron/domains/face_recognition/__init__.py
  viseron/domains/face_recognition/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

pin urllib3 and requests
  .mypy.ini
  requirements.txt
  tests/components/gstreamer/test_segments.py
  viseron/components/gstreamer/camera.py
  viseron/components/gstreamer/const.py
  viseron/components/gstreamer/pipeline.py
  viseron/components/gstreamer/stream.py
Due: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

improve logging for pcie startup scripts
  rootfs/etc/cont-init.d/30-edgetpu-permission
Due: azure-pipelines/azure-pipelines-viseron.yml

allow audio codec to be null
  viseron/components/ffmpeg/camera.py
  viseron/components/ffmpeg/segments.py
Due: azure-pipelines/azure-pipelines-viseron.yml

extract only the necessarry information from ffprobe
  docs/src/pages/components-explorer/components/ffmpeg/index.mdx
  viseron/components/ffmpeg/stream.py
Due: azure-pipelines/azure-pipelines-viseron.yml

install gst/gi in ci
  .github/workflows/ci.yaml
  requirements_ci.txt
  viseron/components/gstreamer/const.py
  viseron/components/gstreamer/stream.py
Due: azure-pipelines/azure-pipelines-viseron.yml

switch back to @jy95/material-ui-image
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/camera/CameraCard.tsx
  frontend/src/components/videoplayer/VideoPlayerPlaceholder.tsx
Due: none

fix recorder audio codec not being set
  viseron/components/ffmpeg/segments.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add ffmpeg raw_command option
  docs/src/pages/components-explorer/components/ffmpeg/config.json
  docs/src/pages/components-explorer/components/ffmpeg/index.mdx
  viseron/components/ffmpeg/camera.py
  viseron/components/ffmpeg/const.py
  viseron/components/ffmpeg/stream.py
  viseron/components/gstreamer/camera.py
Due: azure-pipelines/azure-pipelines-viseron.yml

set max number of threads in data_stream
  viseron/components/data_stream/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add new config option for still image
  docs/src/pages/components-explorer/_components/ComponentConfiguration/index.tsx
  docs/src/pages/components-explorer/components/ffmpeg/config.json
  docs/src/pages/components-explorer/components/gstreamer/config.json
  frontend/src/components/camera/CameraCard.tsx
  frontend/src/lib/types.ts
  requirements.txt
  viseron/__init__.py
  viseron/components/webserver/api/v1/camera.py
  viseron/domains/camera/__init__.py
  viseron/domains/camera/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

always rebuild wheels for pytest in ci
  .github/workflows/ci.yaml
Due: none

add a launch configuration for gen.docs
  .vscode/launch.json
Due: none

allow dynamic project name
  .devcontainer/setup.sh
Due: none

create .env.local if missing
  .devcontainer/setup.sh
Due: none

copy frames to avoid clash for motion detection
  viseron/domains/motion_detector/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

attempt to fix sporadic error in ci
  .github/templates/run_in_venv/action.yaml
  .github/workflows/ci.yaml
  .gitignore
  .pre-commit-config.yaml
Due: none

use letterbox_resize in face rec for better accuracy
  viseron/components/codeprojectai/face_recognition.py
Due: azure-pipelines/azure-pipelines-viseron.yml

raise ComponentNotReady if darknet setup fails
  viseron/components/darknet/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

use postgresql instead of sqlite3
  .vscode/tasks.json
  docker/Dockerfile
  requirements.txt
  rootfs/etc/cont-init.d/80-postgres
  rootfs/etc/services.d/postgres/run
  rootfs/etc/services.d/viseron/run
  viseron/components/storage/__init__.py
  viseron/components/storage/alembic.ini
  viseron/components/storage/alembic/env.py
  viseron/components/storage/alembic/versions/b2b8dc493c62_baseline.py
  viseron/components/storage/const.py
  viseron/components/storage/queries.py
  viseron/components/storage/tier_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

support deprecated key in gen_docs
  scripts/gen_docs/__main__.py
  viseron/helpers/validators.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add postgresql testing fixtures
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  .vscode/extensions.json
  requirements_test.txt
  tests/conftest.py
Due: none

handle segments using storage component
  tests/components/storage/test__init__.py
  tests/components/storage/test_queries.py
  tests/components/storage/test_tier_handler.py
  tests/components/storage/test_util.py
  viseron/components/ffmpeg/recorder.py
  viseron/components/ffmpeg/segments.py
  viseron/components/gstreamer/recorder.py
  viseron/components/storage/__init__.py
  viseron/components/storage/alembic/versions/626d93ab588a_add_recordings_and_related_tables.py
  viseron/components/storage/config.py
  viseron/components/storage/const.py
  viseron/components/storage/models.py
  viseron/components/storage/queries.py
  viseron/components/storage/tier_handler.py
  viseron/components/storage/util.py
  viseron/domains/camera/__init__.py
  viseron/domains/camera/const.py
  viseron/domains/camera/recorder.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add pytest-alembic to test migrations
  .devcontainer/setup.sh
  docker/Dockerfile.dev
  requirements_test.txt
  rootfs/etc/cont-init.d/80-postgres
  tests/components/storage/test_migrations.py
  tests/conftest.py
  viseron/components/storage/alembic/env.py
  viseron/components/storage/alembic/versions/626d93ab588a_add_recordings_and_related_tables.py
  viseron/components/storage/models.py
Due: azure-pipelines/azure-pipelines-viseron.yml

allow storage config per camera
  viseron/components/storage/__init__.py
  viseron/components/storage/tier_handler.py
  viseron/domains/camera/__init__.py
  viseron/domains/camera/const.py
  viseron/domains/camera/recorder.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fetch recordings from db instead of fs
  frontend/src/components/recording/RecordingCard.tsx
  frontend/src/components/recording/RecordingCardDaily.tsx
  frontend/src/components/recording/RecordingCardLatest.tsx
  frontend/src/lib/helpers.tsx
  frontend/src/lib/types.ts
  viseron/components/storage/__init__.py
  viseron/components/storage/alembic/versions/626d93ab588a_add_recordings_and_related_tables.py
  viseron/components/storage/models.py
  viseron/components/webserver/api/v1/recordings.py
  viseron/domains/camera/recorder.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add storage tests
  tests/components/storage/test__init__.py
  tests/components/storage/test_config.py
  tests/components/storage/test_queries.py
  tests/conftest.py
Due: none

create fragmented mp4s using gpac for hls streaming
  azure-pipelines/docker-compose-build.yaml
  docker/Dockerfile
  viseron/components/ffmpeg/camera.py
  viseron/components/ffmpeg/recorder.py
  viseron/components/ffmpeg/stream.py
  viseron/components/gstreamer/camera.py
  viseron/components/storage/__init__.py
  viseron/components/storage/alembic/versions/6b1ef9a6220a_add_filesmeta_table.py
  viseron/components/storage/models.py
  viseron/components/storage/tier_handler.py
  viseron/components/storage/triggers.py
  viseron/components/webserver/api/__init__.py
  viseron/components/webserver/request_handler.py
  viseron/domains/camera/__init__.py
  viseron/domains/camera/fragmenter.py
  viseron/domains/camera/recorder.py
  viseron/helpers/logs.py
Due: azure-pipelines/azure-pipelines-viseron.yml

deprecate CONFIG_FOLDER
  docker/Dockerfile
  rootfs/etc/cont-init.d/10-adduser
  viseron/components/gstreamer/pipeline.py
  viseron/components/storage/__init__.py
  viseron/components/storage/triggers.py
  viseron/components/storage/util.py
  viseron/domains/camera/__init__.py
  viseron/domains/camera/const.py
  viseron/domains/camera/recorder.py
Due: azure-pipelines/azure-pipelines-viseron.yml

deprecate CONFIG_EXTENSION
  tests/components/ffmpeg/test_stream.py
  viseron/components/ffmpeg/camera.py
  viseron/components/ffmpeg/stream.py
  viseron/components/gstreamer/camera.py
  viseron/components/gstreamer/pipeline.py
  viseron/components/gstreamer/stream.py
  viseron/domains/camera/__init__.py
  viseron/domains/camera/const.py
  viseron/domains/camera/recorder.py
Due: azure-pipelines/azure-pipelines-viseron.yml

concatenate fragments if create_event_clip is enabled
  .gitignore
  tests/components/ffmpeg/test_segments.py
  tests/components/storage/test_config.py
  tests/domains/__init__.py
  tests/domains/camera/test_fragmenter.py
  tests/domains/camera/test_recorder.py
  viseron/components/ffmpeg/recorder.py
  viseron/components/ffmpeg/segments.py
  viseron/components/gstreamer/recorder.py
  viseron/components/storage/config.py
  viseron/components/storage/const.py
  viseron/domains/camera/__init__.py
  viseron/domains/camera/const.py
  viseron/domains/camera/fragmenter.py
  viseron/domains/camera/recorder.py
Due: azure-pipelines/azure-pipelines-viseron.yml
