Repository roflcoopter/viseron: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

azure-pipelines/azure-pipelines-viseron.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    jobs:
    - template: templates/build.yaml
      parameters:
        image: viseron
        release: true
  - stage: Publish
    jobs:
    - job: ReleaseViseron
      pool:
        vmImage: ubuntu-latest
      steps:
      - template: templates/release_version.yaml
  ...

azure-pipelines/azure-pipelines-wheels.yml:
  pool:
    vmImage: ubuntu-latest
  jobs:
  - template: templates/build.yaml
    parameters:
      image: wheels

add psutil requirement
  requirements.txt
Due: azure-pipelines/azure-pipelines-wheels.yml

bump mypy
  requirements_test.txt
Due: none

add utility function get_files for Recordings
  tests/components/storage/test_models.py
  tests/conftest.py
  viseron/components/storage/models.py
Due: azure-pipelines/azure-pipelines-viseron.yml

make most API handlers async
  tests/components/webserver/api/v1/test_auth.py
  tests/components/webserver/common.py
  tests/components/webserver/test_auth.py
  viseron/components/webserver/api/handlers.py
  viseron/components/webserver/api/v1/auth.py
  viseron/components/webserver/api/v1/camera.py
  viseron/components/webserver/api/v1/cameras.py
  viseron/components/webserver/api/v1/config.py
  viseron/components/webserver/api/v1/onboarding.py
  viseron/components/webserver/api/v1/recordings.py
  viseron/components/webserver/auth.py
  viseron/components/webserver/request_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml

use hls to play recordings
  .pre-commit-config.yaml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/context/ViseronContext.tsx
  frontend/src/lib/commands.ts
  frontend/src/lib/helpers.tsx
  frontend/src/lib/types.ts
  frontend/src/pages/recordings/CameraRecordingsDaily.tsx
  frontend/vite.config.ts
  tests/components/storage/test__init__.py
  tests/components/webserver/test_tiered_file_handler.py
  tests/domains/camera/test_recorder.py
  viseron/components/storage/__init__.py
  viseron/components/storage/config.py
  viseron/components/storage/models.py
  viseron/components/storage/queries.py
  viseron/components/storage/tier_handler.py
  viseron/components/webserver/__init__.py
  viseron/components/webserver/api/v1/__init__.py
  viseron/components/webserver/api/v1/hls.py
  viseron/components/webserver/tiered_file_handler.py
  viseron/domains/camera/fragmenter.py
  viseron/domains/camera/recorder.py
Due: azure-pipelines/azure-pipelines-viseron.yml

delete recordings using id instead of filename
  frontend/src/components/recording/RecordingCard.tsx
  frontend/src/lib/api/client.ts
  tests/components/storage/test_tier_handler.py
  tests/conftest.py
  tests/domains/camera/test_fragmenter.py
  tests/domains/camera/test_recorder.py
  viseron/components/storage/triggers.py
  viseron/components/webserver/api/v1/recordings.py
  viseron/domains/camera/fragmenter.py
  viseron/domains/camera/recorder.py
  viseron/helpers/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add some transitions and svgs to make ui smoother
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/error/Error.tsx
  frontend/src/components/header/Drawer.tsx
  frontend/src/components/header/Header.tsx
  frontend/src/components/loading/Loading.tsx
  frontend/src/index.css
  frontend/src/layouts/PrivateLayout.tsx
  frontend/src/pages/Cameras.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/Onboarding.tsx
  frontend/src/pages/recordings/CameraRecordings.tsx
  frontend/src/pages/recordings/CameraRecordingsDaily.tsx
  frontend/src/pages/recordings/Recordings.tsx
  frontend/src/svg/undraw/server_down.svg
  frontend/src/svg/undraw/void.svg
  frontend/src/svg/viseron-logo.svg
Due: none

install gi from pip
  azure-pipelines/.env
  docker/Dockerfile.wheels
  docker/jetson-nano/Dockerfile.wheels
  requirements.txt
Due: azure-pipelines/azure-pipelines-wheels.yml

delete recordings from database
  tests/common.py
  tests/components/storage/test_models.py
  tests/components/storage/test_queries.py
  tests/components/storage/test_tier_handler.py
  tests/conftest.py
  viseron/components/storage/tier_handler.py
  viseron/components/webserver/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

make gstreamer compatible with storage
  viseron/components/gstreamer/pipeline.py
  viseron/components/gstreamer/stream.py
  viseron/domains/camera/fragmenter.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add orig_ctime to FilesMeta table
  tests/common.py
  tests/components/storage/test_models.py
  tests/components/storage/test_queries.py
  tests/components/storage/test_tier_handler.py
  tests/components/webserver/api/v1/test_hls.py
  tests/domains/camera/test_recorder.py
  viseron/components/ffmpeg/camera.py
  viseron/components/gstreamer/camera.py
  viseron/components/gstreamer/stream.py
  viseron/components/storage/alembic/versions/0b3b8178087f_add_orig_ctime_column_to_filesmeta.py
  viseron/components/storage/models.py
  viseron/components/storage/queries.py
  viseron/components/storage/tier_handler.py
  viseron/components/storage/triggers.py
  viseron/components/webserver/api/v1/hls.py
  viseron/components/webserver/auth.py
  viseron/components/webserver/request_handler.py
  viseron/domains/camera/fragmenter.py
  viseron/domains/camera/recorder.py
  viseron/domains/face_recognition/__init__.py
  viseron/helpers/__init__.py
  viseron/watchdog/process_watchdog.py
  viseron/watchdog/subprocess_watchdog.py
Due: azure-pipelines/azure-pipelines-viseron.yml

make testrunners compatible with postgres db
  .github/workflows/ci.yaml
  azure-pipelines/docker-compose-build.yaml
  docker/Dockerfile.tests
  tox.ini
Due: none

Event viewer page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/camera/CameraCard.tsx
  frontend/src/components/events/EventDatePicker.tsx
  frontend/src/components/events/EventPlayerCard.tsx
  frontend/src/components/events/EventTable.tsx
  frontend/src/components/events/EventTableItem.tsx
  frontend/src/components/events/EventsCameraGrid.tsx
  frontend/src/components/footer/Footer.tsx
  frontend/src/components/header/Drawer.tsx
  frontend/src/components/loading/Loading.tsx
  frontend/src/components/recording/RecordingCard.tsx
  frontend/src/components/recording/RecordingCardDaily.tsx
  frontend/src/components/recording/RecordingCardLatest.tsx
  frontend/src/components/videoplayer/VideoPlayerPlaceholder.tsx
  frontend/src/context/ColorModeContext.tsx
  frontend/src/index.tsx
  frontend/src/lib/helpers.tsx
  frontend/src/pages/Events.tsx
  frontend/tests/components/events/EventDatePicker.test.tsx
Due: none

make sure all timestamps are UTC in db
  viseron/components/gstreamer/stream.py
  viseron/components/storage/__init__.py
  viseron/components/storage/alembic/versions/0b3b8178087f_add_orig_ctime_column_to_filesmeta.py
  viseron/components/storage/alembic/versions/5e76f713b35c_utc_timestamps_as_default.py
  viseron/components/storage/models.py
  viseron/domains/camera/fragmenter.py
  viseron/helpers/json.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add mobile layout to Events page
  frontend/src/components/camera/CameraCard.tsx
  frontend/src/components/camera/CameraNameOverlay.tsx
  frontend/src/components/events/CameraPickerDialog.tsx
  frontend/src/components/events/EventDatePickerDialog.tsx
  frontend/src/components/events/EventPlayerCard.tsx
  frontend/src/components/events/EventTable.tsx
  frontend/src/components/events/EventTableItem.tsx
  frontend/src/components/events/Layouts.tsx
  frontend/src/pages/Events.tsx
  frontend/tests/components/events/EventDatePicker.test.tsx
Due: none

highlight selected items in Events page
  frontend/src/components/camera/CameraCard.tsx
  frontend/src/components/events/CameraPickerDialog.tsx
  frontend/src/components/events/EventTable.tsx
  frontend/src/components/events/EventTableItem.tsx
  frontend/src/components/events/EventsCameraGrid.tsx
  frontend/src/components/events/Layouts.tsx
Due: none

theme changes
  frontend/src/context/ColorModeContext.tsx
Due: none

Update recording IDs and camera identifier in tests
  tests/common.py
  tests/components/storage/test_models.py
  tests/components/storage/test_queries.py
  tests/components/storage/test_tier_handler.py
  tests/components/webserver/api/v1/test_hls.py
  viseron/components/storage/queries.py
  viseron/components/storage/tier_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml

url parameters for events page
  frontend/src/lib/helpers.tsx
  frontend/src/pages/Events.tsx
Due: none

update all frontend deps
  .gitignore
  docker/Dockerfile
  docker/Dockerfile.dev
  docs/tsconfig.json
  frontend/.eslintrc.cjs
  frontend/.prettierrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/404.tsx
  frontend/src/App.tsx
  frontend/src/components/CardActionButton.tsx
  frontend/src/components/camera/CameraCard.tsx
  frontend/src/components/dialog/SessionExpired.tsx
  frontend/src/components/editor/Editor.tsx
  frontend/src/components/error/Error.tsx
  frontend/src/components/events/EventPlayerCard.tsx
  frontend/src/components/events/EventTable.tsx
  frontend/src/components/header/Drawer.tsx
  frontend/src/components/header/Header.tsx
  frontend/src/components/loading/Loading.tsx
  frontend/src/components/recording/RecordingCard.tsx
  frontend/src/components/recording/RecordingCardDaily.tsx
  frontend/src/components/recording/RecordingCardLatest.tsx
  frontend/src/components/videoplayer/VideoPlayer.tsx
  frontend/src/components/videoplayer/VideoPlayerPlaceholder.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/context/ViseronContext.tsx
  frontend/src/index.tsx
  frontend/src/layouts/PrivateLayout.tsx
  frontend/src/lib/api/auth.ts
  frontend/src/lib/types.ts
  frontend/src/lib/websockets.ts
  frontend/src/pages/Events.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/Onboarding.tsx
  frontend/src/pages/recordings/CameraRecordings.tsx
  frontend/src/pages/recordings/CameraRecordingsDaily.tsx
  frontend/tests/components/loading/Loading.test.tsx
  frontend/tests/setupTests.ts
  frontend/vite.config.ts
Due: none

fix token expiration check
  frontend/src/lib/tokens.ts
  frontend/tests/lib/tokens.test.ts
  tests/components/webserver/api/v1/test_auth.py
  viseron/components/webserver/auth.py
Due: azure-pipelines/azure-pipelines-viseron.yml

allow passing token as query parameter
  frontend/src/components/recording/RecordingCard.tsx
  frontend/src/components/recording/RecordingCardDaily.tsx
  frontend/src/components/recording/RecordingCardLatest.tsx
  frontend/src/lib/helpers.tsx
  frontend/tests/lib/helpers.test.ts
  tests/components/webserver/api/test_handlers.py
  tests/components/webserver/common.py
  viseron/components/webserver/api/handlers.py
  viseron/components/webserver/api/v1/hls.py
Due: azure-pipelines/azure-pipelines-viseron.yml

use useAuthContext hook
  frontend/src/components/camera/CameraCard.tsx
  frontend/src/components/error/ErrorMessage.tsx
  frontend/src/components/events/EventTable.tsx
  frontend/src/components/header/Header.tsx
  frontend/src/components/recording/RecordingCard.tsx
  frontend/src/components/recording/RecordingCardDaily.tsx
  frontend/src/components/recording/RecordingCardLatest.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/context/ViseronContext.tsx
  frontend/src/layouts/PrivateLayout.tsx
  frontend/src/lib/api/auth.ts
  frontend/src/pages/Events.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/NotFound.tsx
  frontend/src/pages/Onboarding.tsx
  frontend/src/pages/recordings/CameraRecordings.tsx
  frontend/src/pages/recordings/CameraRecordingsDaily.tsx
  frontend/tests/utils/renderWithContext.tsx
Due: none

dont include Bearer in getAuthHeader
  frontend/src/lib/tokens.ts
Due: none

remove react query state syncing
  frontend/src/context/AuthContext.tsx
  frontend/src/layouts/PrivateLayout.tsx
  frontend/src/lib/api/auth.ts
  frontend/tests/utils/renderWithContext.tsx
Due: none

add subtext to ErrorMessage
  frontend/src/components/error/ErrorMessage.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/layouts/PrivateLayout.tsx
  frontend/src/pages/Events.tsx
  frontend/src/pages/recordings/CameraRecordings.tsx
  frontend/src/pages/recordings/CameraRecordingsDaily.tsx
Due: none

create hook for recordings query
  frontend/src/components/events/EventDatePickerDialog.tsx
  frontend/src/components/events/EventTable.tsx
  frontend/src/components/recording/RecordingCardLatest.tsx
  frontend/src/context/ViseronContext.tsx
  frontend/src/lib/api/recordings.ts
  frontend/src/lib/commands.ts
  frontend/src/lib/types.ts
  frontend/src/pages/recordings/CameraRecordings.tsx
  frontend/src/pages/recordings/CameraRecordingsDaily.tsx
Due: none

handle restarts better when ComponentNotReady is raised
  viseron/__init__.py
  viseron/components/__init__.py
  viseron/components/webserver/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

store system events in database
  viseron/__init__.py
  viseron/components/__init__.py
  viseron/components/mqtt/__init__.py
  viseron/components/nvr/nvr.py
  viseron/components/storage/alembic/versions/523864b2bd20_add_events_table.py
  viseron/components/storage/models.py
  viseron/domains/camera/__init__.py
  viseron/domains/camera/recorder.py
  viseron/domains/face_recognition/__init__.py
  viseron/domains/image_classification/__init__.py
  viseron/domains/license_plate_recognition/__init__.py
  viseron/domains/motion_detector/__init__.py
  viseron/domains/motion_detector/contours.py
  viseron/domains/object_detector/detected_object.py
  viseron/events.py
  viseron/helpers/__init__.py
  viseron/helpers/json.py
  viseron/states.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add backend support for storing snapshots
  tests/components/webserver/api/v1/test_events.py
  tests/helpers/test_filter.py
  viseron/components/storage/__init__.py
  viseron/components/storage/alembic/versions/7e0232f7cd30_add_snapshot_path_to_objects_table.py
  viseron/components/storage/alembic/versions/bef4c78cc3b0_add_motioncontours_table.py
  viseron/components/storage/models.py
  viseron/components/storage/tier_handler.py
  viseron/components/storage/util.py
  viseron/components/webserver/api/v1/__init__.py
  viseron/components/webserver/api/v1/events.py
  viseron/domains/camera/__init__.py
  viseron/domains/face_recognition/__init__.py
  viseron/domains/motion_detector/__init__.py
  viseron/domains/motion_detector/contours.py
  viseron/domains/object_detector/__init__.py
  viseron/domains/object_detector/const.py
  viseron/domains/object_detector/detected_object.py
  viseron/domains/object_detector/zone.py
  viseron/helpers/__init__.py
  viseron/helpers/filter.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add timeline for wide layout
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/events/CameraPickerDialog.tsx
  frontend/src/components/events/EventsCameraGrid.tsx
  frontend/src/components/events/Layouts.tsx
  frontend/src/components/events/timeline/ActivityLine.tsx
  frontend/src/components/events/timeline/HoverLine.tsx
  frontend/src/components/events/timeline/ObjectEvent.tsx
  frontend/src/components/events/timeline/Spacer.tsx
  frontend/src/components/events/timeline/TimeTick.tsx
  frontend/src/components/events/timeline/TimelineTable.tsx
  frontend/src/context/ColorModeContext.tsx
  frontend/src/lib/api/events.ts
  frontend/src/lib/helpers.tsx
  frontend/src/lib/types.ts
  frontend/src/pages/Events.tsx
  frontend/tests/lib/helpers.test.ts
Due: none

fix nodeRef error in CSSTRansition
  frontend/src/layouts/PrivateLayout.tsx
Due: none

custom UTCDateTime sql type
  viseron/components/storage/__init__.py
  viseron/components/storage/models.py
  viseron/helpers/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add timeline for small layout
  frontend/src/components/events/Layouts.tsx
  frontend/src/components/events/timeline/ObjectEvent.tsx
  frontend/src/components/events/timeline/TimelineTable.tsx
  frontend/src/pages/Events.tsx
Due: none

virtualize timeline table
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/events/Layouts.tsx
  frontend/src/components/events/timeline/ActivityLine.tsx
  frontend/src/components/events/timeline/HoverLine.tsx
  frontend/src/components/events/timeline/ObjectEvent.tsx
  frontend/src/components/events/timeline/Spacer.tsx
  frontend/src/components/events/timeline/TimeTick.tsx
  frontend/src/components/events/timeline/TimelineTable.tsx
  frontend/src/lib/types.ts
Due: none

improve timeline performance
  frontend/src/components/events/timeline/ActivityLine.tsx
  frontend/src/components/events/timeline/ObjectEvent.tsx
  frontend/src/components/events/timeline/TimeTick.tsx
  frontend/src/components/events/timeline/TimelineTable.tsx
Due: none

correctly increment startRef in addTicks
  frontend/src/components/events/timeline/TimelineTable.tsx
Due: none

re-order som stuff
  frontend/src/components/events/timeline/TimelineTable.tsx
Due: none

choose date for timeline
  frontend/src/components/events/Layouts.tsx
  frontend/src/components/events/timeline/TimelineTable.tsx
Due: none

make hovered snapshot pop
  frontend/src/components/events/timeline/HoverLine.tsx
  frontend/src/components/events/timeline/ObjectEvent.tsx
  frontend/src/components/events/timeline/TimelineTable.tsx
Due: none

Path conditions:
  azure-pipelines/azure-pipelines-viseron.yml: any of: viseron, rootfs, but not: requirements.txt
  azure-pipelines/azure-pipelines-wheels.yml: any of: requirements.txt
