Repository roflcoopter/viseron: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

azure-pipelines/azure-pipelines-viseron.yml:

trigger:
  branches:
    include:
      - dev
  tags:
    include:
      - "*"
  paths:
    include:
      - viseron/*
      - rootfs/*
    exclude:
      - requirements.txt
pr: none

pool:
  vmImage: "ubuntu-latest"

resources:
  pipelines:
    - pipeline: viseronFFmpeg
      source: "Viseron FFmpeg"
      trigger:
        branches:
          - dev
    - pipeline: viseronOpenCV
      source: "Viseron OpenCV"
      trigger:
        branches:
          - dev
    - pipeline: viseronWheels
      source: "Viseron Wheels"
      trigger:
        branches:
          - dev
    - pipeline: viseronBase
      source: "Viseron Base"
      trigger:
        branches:
          - dev

stages:
  - stage: Build
    jobs:
      - template: templates/build.yaml
        parameters:
          image: viseron
          release: true

  - stage: "Publish"
    jobs:
      - job: "ReleaseViseron"
        pool:
          vmImage: "ubuntu-latest"
        steps:
          - template: templates/release_version.yaml
            parameters:
              release: true
          - task: Docker@2
            displayName: Login to Docker Hub
            inputs:
              command: login
              containerRegistry: "Docker Hub"
          - script: |
              set -e
              export DOCKER_CLI_EXPERIMENTAL=enabled

              function create_manifest() {
                local release_version=$1

                docker manifest create roflcoopter/viseron:${release_version} \
                  roflcoopter/amd64-viseron:${release_version} \
                  roflcoopter/rpi3-viseron:${release_version} \
                  roflcoopter/aarch64-viseron:${release_version}

                docker manifest annotate roflcoopter/viseron:${release_version} \
                  roflcoopter/amd64-viseron:${release_version} \
                  --os linux --arch amd64

                docker manifest annotate roflcoopter/viseron:${release_version} \
                  roflcoopter/rpi3-viseron:${release_version} \
                  --os linux --arch arm --variant=v7

                docker manifest annotate roflcoopter/viseron:${release_version} \
                  roflcoopter/aarch64-viseron:${release_version} \
                  --os linux --arch arm64 --variant=v8

                docker manifest push --purge roflcoopter/viseron:${release_version}
                docker manifest inspect roflcoopter/viseron:${release_version}
              }

              docker pull roflcoopter/amd64-viseron:$(viseronVersion)
              docker pull roflcoopter/rpi3-viseron:$(viseronVersion)
              docker pull roflcoopter/aarch64-viseron:$(viseronVersion)

              # Create version tag
              create_manifest "$(viseronVersion)"
              if [ $(latestRelease) = true ] ; then
                create_manifest "latest"
              fi
            displayName: "Create multi-arch image"
          - task: Docker@2
            displayName: Logoff Docker Hub
            inputs:
              command: logout
              containerRegistry: "Docker Hub"
              condition: always()

azure-pipelines/azure-pipelines-wheels.yml:

trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - requirements.txt
pr: none

pool:
  vmImage: "ubuntu-latest"

resources:
  pipelines:
    - pipeline: viserondlib
      source: "Viseron dlib"
      trigger:
        branches:
          - dev

jobs:
  - template: templates/multi-arch-build.yaml
    parameters:
      image: wheels

update configuration.md with more domains
  docs/docs/documentation/configuration.md
Due: none

add recorder section to ffmpeg docs
  docs/src/pages/components-explorer/components/ffmpeg/index.mdx
Due: none

add nvr docs
  docs/src/pages/components-explorer/_domains/nvr/index.mdx
  docs/src/pages/components-explorer/components/nvr/_meta.tsx
  docs/src/pages/components-explorer/components/nvr/config.json
  docs/src/pages/components-explorer/components/nvr/index.mdx
  docs/static/img/undraw_surveillance.svg
  scripts/gen_docs/__main__.py
  scripts/gen_docs/const.py
  viseron/components/nvr/__init__.py
  viseron/components/nvr/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add webserver docs
  docs/src/pages/components-explorer/components/webserver/_meta.tsx
  docs/src/pages/components-explorer/components/webserver/config.json
  docs/src/pages/components-explorer/components/webserver/index.mdx
  docs/static/img/undraw_interface.svg
  viseron/components/webserver/__init__.py
  viseron/components/webserver/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

mqtt docs update
  docs/src/pages/components-explorer/components/mqtt/config.json
  viseron/components/mqtt/__init__.py
  viseron/components/mqtt/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix webserver default value
  viseron/components/webserver/__init__.py
  viseron/components/webserver/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add vulture to tox
  azure-pipelines/docker-compose-build.yaml
  requirements_test.txt
  tox.ini
Due: none

remove dead code
  viseron/components/nvr/nvr.py
  viseron/const.py
  viseron/domains/camera/shared_frames.py
  viseron/exceptions.py
  viseron/helpers/__init__.py
  viseron/helpers/logs.py
  viseron/helpers/validators.py
  viseron/watchdog/thread_watchdog.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix automatic pipeline trigger error after rename
  azure-pipelines/azure-pipelines-wheels.yml
Due: none

fix jetson nano crossbuilds after balenalib breaking change
  docker/jetson-nano/Dockerfile.darknet
  docker/jetson-nano/Dockerfile.dlib
  docker/jetson-nano/Dockerfile.ffmpeg
  docker/jetson-nano/Dockerfile.opencv
  docker/jetson-nano/Dockerfile.opencv.part1
  docker/jetson-nano/Dockerfile.python
  docker/jetson-nano/Dockerfile.wheels
Due: none

make README more slim
  README.md
  docs/src/pages/components-explorer/components/darknet/_meta.tsx
  docs/src/pages/index.tsx
  docs/static/img/sponsor_button.png
Due: none

fix broken link to contributing guidelines
  README.md
Due: none

update tagline
  docs/docusaurus.config.js
  docs/src/pages/index.tsx
Due: none

add back accidentally removed code
  viseron/helpers/logs.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add websocket command to restart viseron
  viseron/__init__.py
  viseron/__main__.py
  viseron/components/webserver/__init__.py
  viseron/components/webserver/websocket_api/__init__.py
  viseron/components/webserver/websocket_api/commands.py
  viseron/const.py
  viseron/helpers/child_process_worker.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add restart button the frontend
  frontend/src/components/editor/Editor.tsx
  frontend/src/context/ViseronContext.tsx
  frontend/src/lib/commands.ts
  frontend/src/lib/messages.ts
  frontend/src/lib/types.ts
  frontend/src/lib/websockets.tsx
Due: none

rename websockets.tsx > websockets.ts
  frontend/src/lib/websockets.ts
Due: none

update monaco-yaml
  frontend/package-lock.json
  frontend/package.json
Due: none

run npm audit fix
  frontend/package-lock.json
Due: none

add netlify.toml to fix issue with react router
  netlify.toml
Due: none

add _redirects
  frontend/public/_redirects
  netlify.toml
Due: none

trailing slashes for links
  .gitignore
  docs/docusaurus.config.js
  docs/src/pages/components-explorer/_components/ComponentCard/index.tsx
Due: none

add homepage to package.json
  docs/package.json
  frontend/README.md
  frontend/src/App.test.tsx
Due: none

docs: add redirects to fix 404
  .gitignore
  docs/static/_redirects
  netlify.toml
Due: none

index pages as well for easier search
  docs/docusaurus.config.js
Due: none

scale the non-padded axis
  tests/helpers/test__init__.py
  viseron/helpers/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

make sure user abc is always in plugdev group
  rootfs/etc/cont-init.d/30-edgetpu-permission
Due: azure-pipelines/azure-pipelines-viseron.yml

update dlib to 19.24 and set compute capabilities
  azure-pipelines/.env
  docker/amd64-cuda/Dockerfile.dlib
Due: none

fix: an error was thrown if a domain was setup with multiple missing deps
  viseron/components/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add compreface component
  docs/src/pages/components-explorer/components/compreface/_meta.tsx
  docs/src/pages/components-explorer/components/compreface/config.json
  docs/src/pages/components-explorer/components/compreface/index.mdx
  requirements.txt
  viseron/components/compreface/__init__.py
  viseron/components/compreface/const.py
  viseron/components/compreface/face_recognition.py
  viseron/domains/face_recognition/__init__.py
  viseron/domains/face_recognition/binary_sensor.py
  viseron/domains/face_recognition/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

add websocket ping for more stable connections
  frontend/src/lib/messages.ts
  frontend/src/lib/types.ts
  frontend/src/lib/websockets.ts
  viseron/components/webserver/__init__.py
  viseron/components/webserver/websocket_api/commands.py
  viseron/components/webserver/websocket_api/messages.py
Due: azure-pipelines/azure-pipelines-viseron.yml

warn on scan_on_motion_only without a motion detector
  viseron/components/darknet/__init__.py
  viseron/components/deepstack/__init__.py
  viseron/components/edgetpu/__init__.py
  viseron/domains/object_detector/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

setup nvr automatically if missing
  viseron/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add yolov7 models
  docker/Dockerfile.models
  docker/amd64-cuda/Dockerfile.base
  docker/amd64/Dockerfile.base
  docs/src/pages/components-explorer/components/darknet/_meta.tsx
  docs/src/pages/components-explorer/components/darknet/index.mdx
Due: none

frontend: add sidebar
  frontend/src/App.tsx
  frontend/src/components/header/Drawer.tsx
  frontend/src/components/header/Header.tsx
  frontend/src/context/ColorModeContext.tsx
Due: none

update mui
  frontend/package-lock.json
  frontend/package.json
Due: none

use multistage builds for models
  azure-pipelines/templates/build.yaml
  docker/Dockerfile.models
Due: none

add websocket command to get entities
  viseron/components/mqtt/entity/__init__.py
  viseron/components/mqtt/entity/image.py
  viseron/components/webserver/__init__.py
  viseron/components/webserver/const.py
  viseron/components/webserver/websocket_api/commands.py
  viseron/components/webserver/websocket_api/messages.py
  viseron/domains/camera/entity/image.py
  viseron/domains/face_recognition/binary_sensor.py
  viseron/domains/image_classification/sensor.py
  viseron/domains/object_detector/binary_sensor.py
  viseron/domains/object_detector/sensor.py
  viseron/helpers/entity/__init__.py
  viseron/helpers/entity/image.py
  viseron/states.py
Due: azure-pipelines/azure-pipelines-viseron.yml

frontend: create entities page
  frontend/src/App.tsx
  frontend/src/components/SearchField.tsx
  frontend/src/components/header/Drawer.tsx
  frontend/src/context/ColorModeContext.tsx
  frontend/src/lib/commands.ts
  frontend/src/lib/messages.ts
  frontend/src/lib/types.ts
  frontend/src/lib/websockets.ts
  frontend/src/pages/Entities.tsx
Due: none

update darknet for yolov7 and swap model urls
  azure-pipelines/.env
  docker/Dockerfile.models
  docs/src/pages/components-explorer/components/darknet/index.mdx
Due: none
